@model IMS.Models.ViewModel.VoucherMaster
@{
    /**/

    ViewBag.Title = "Voucher Master";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}

@{
    var AppToken = Convert.ToString(@Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-gift"></i>
                <span>Voucher</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        @using (Html.BeginForm("ManageMaterialPurchase", "Material", FormMethod.Post, new { @id = "MaterialPurchase" }))
                        {
                            @Html.HiddenFor(m => m.VoucherId, htmlAttributes: new { @id = "VoucherId" })
                            @Html.HiddenFor(m => m.AppToken)
                            @Html.HiddenFor(m => m.VoucherLine, htmlAttributes: new { @id = "VoucherLine" })
                            @Html.HiddenFor(m => m.Amount_DR, htmlAttributes: new { @id = "Amount_DR" })
                            @Html.HiddenFor(m => m.Amount_CR, htmlAttributes: new { @id = "Amount_CR" })
                            @Html.HiddenFor(m => m.Total_Amount, htmlAttributes: new { @id = "Total_Amount" })
                            <div class="heading">
                                <h4>
                                    Voucher Detail
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Office<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(m => m.OfficeId, new SelectList(Model.OfficeLists, "Value", "Text"), htmlAttributes: new { @id = "OfficeId", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Voucher Type<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(m => m.Constant_Id, new SelectList(Model.Vouchers, "Value", "Text"), htmlAttributes: new { @id = "Constant_Id", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Voucher Number<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.VoucherNumber, htmlAttributes: new { @placeholder = "Voucher Number", @id = "VoucherNumber", @class = "form-control" })

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-2 form-group">
                                    <label> Voucher Date<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.VoucherDate, htmlAttributes: new { @id = "VoucherDate", @placeholder = "dd/mm/yyyy", @class = "form-control clsDate" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Check Number</label>
                                    @Html.TextBoxFor(m => m.CheckNumber, htmlAttributes: new { @id = "CheckNumber", @placeholder = "dd/mm/yyyy", @class = "form-control clsDate" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-2 form-group">
                                    <label>Check Date<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.CheckDate, htmlAttributes: new { @id = "CheckDate", @placeholder = "dd/mm/yyyy", @class = "form-control clsDate" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="heading">
                                    <h4>
                                        Add/Update Material Purchase
                                    </h4>
                                </div>
                                <br />
                            </div>
                            <div class="styled-input">
                                <div class="col-md-2 form-group">
                                    <label>Entry Type<span class="mandatory">*</span></label>
                                    <select id="ddlEnteryType" name="ddlEnteryType" class="form-control">
                                        <option value="CR" selected>Cr</option>
                                        <option value="DR" selected>Dr</option>
                                    </select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Party</label>
                                    @Html.DropDownListFor(m => m.PartyId, new SelectList(Model.PartyLists, "Value", "Text"), htmlAttributes: new { @id = "PartyId", @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Amount<span class="mandatory">*</span></label>
                                    @Html.TextBox("Amount", "", htmlAttributes: new { @placeholder = "Amount", @id = "Amount", @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Action</label>
                                    <br />
                                    <a id="btnAdd" name="btnAdd" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                    <a id="btnReset" name="btnReset" class="btn btn-primary"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <label id="lblTotalAmount">Total : 0.00</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table id="tblVoucher" class="table table-striped" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="tbl-heading">Action</th>
                                            <th class="tbl-heading">Entry Type</th>
                                            <th class="tbl-heading">Party</th>
                                            <th class="tbl-heading">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div id="divAmountDiffrence" class="row" style="display:none">
                                    <div class="col-md-4">
                                        <span>Debit Total:  <label id="lblDebitTotal"></label></span>
                                        <span>Credit Total:  <label id="lblCreditTotal"></label></span>
                                        <span>Diffrence Total:  <label id="lblDiffrenceTotal"></label></span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-12 form-group">
                                    <label>Remarks</label>
                                    @Html.TextAreaFor(m => m.Remarks, htmlAttributes: new { @id = "Remarks", @class = "form-control clsDate" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-8"></div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    @if (Model.VoucherId == 0)
                                    {
                                        <button type="button" name="btnResetForm" id="btnResetForm" class="btncustome">Reset</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div style="display:none" id="divDeleteVoucher">
                                    @if (Model.VoucherId > 0)
                                    {
                                        <button type="button" name="btnDelete" id="btnDelete" class="btncustome pull-right">Delete</button>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        $("#VoucherDate").val("");
        $("#VoucherDate").attr('placeholder', 'dd/mm/yyyy');
        $("#CheckDate").val("");
        $("#CheckDate").attr('placeholder', 'dd/mm/yyyy');

        if ($("#tblVoucher TBODY TR").length > 0) {
            $("[id^='hdnAmount_']").each(function () {
                let index = $(this).attr("data-index");
                if ($("#hdnEnteryType_" + index).val() === "CR") {
                    cramount += parseFloat($(this).val());
                }
                if ($("#hdnEnteryType_" + index).val() === "DR") {
                    dramount += parseFloat($(this).val());
                }
            });
            if (cramount > 0 && dramount > 0) {
                diffamount = cramount - dramount;
            }
            $("#divAmountDiffrence").show();
            $("#lblDebitTotal").val(dramount);
            $("#lblCreditTotal").val(cramount);
            $("#lblDiffrenceTotal").val(diffamount);
        } else {
            $("#divAmountDiffrence").hide();
        }

        $("body").on("click", "#btnReset", function (e) {
            e.preventDefault();
            $("#PartyId").val("");
            $("#Amount").val("");
            $("#btnAdd").val("Add");
        });

        $("#btnAdd").click(function (e) {
            e.preventDefault();
            let bAdded = true;
            let msg = "";

            if ($("#PartyId :selected").val() === "0" || $("#PartyId :selected") === "" ||
                $("#OfficeId :selected").val() === "0" || $("#OfficeId :selected") === "" ||
                $("#Amount").val() === "0" || $("#Amount") === "") {
                msg = "Please fill item.";
                bAdded = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            } else if ($("#Amount").val() === "") {
                msg = "Please enter quantity.";
                bAdded = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            } else if (parseInt($("#Amount").val()) === 0) {
                msg = "Please select unit.";
                bAdded = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
            else if (parseInt($("#Amount").val()) === 0) {
                msg = "Please select unit.";
                bAdded = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
            //Reference the Party and Location ddl.
            if (bAdded) {
                if ($("#tblVoucher TBODY TR").length > 0) {
                    $("[id^='hdnPartyId_']").each(function () {
                        let partyId = parseInt($("#" + this.id).val());
                        if (parseInt($("#" + this.id).val()) === partyId) {
                            msg = "Voucher is already mapped!!!";
                            bAdded = false;
                            $('#alertModal').modal('show');
                            $('#msg').html(msg);
                            return false;
                        }
                    });
                }
            }

            if (bAdded) {
                let partyId = parseInt($("#PartyId").val());
                var cramount = parseFloat(0);
                var dramount = parseFloat(0);
                var diffamount = parseFloat(0);
                var tBody = $("#tblVoucher > TBODY")[0];
                //Add Row.
                var row = tBody.insertRow(-1);
                //Add Button cell.
                cell = $(row.insertCell(-1));
                let btnRemove = `<a class="btn btn-danger" onclick="Remove(this);" href="javascript:void(0)"><i class="fa fa-trash"></i></a>
                                 <input type="hidden" id="hdnLine_Id_${partyId}" name="hdnLine_Id_${partyId}" value="0" />
                                 <input type="hidden" id="hdnPartyId_${partyId}" name="hdnPartyId_${partyId}" value="${$("#PartyId :selected").val()}" />
                                 <input type="hidden" id="hdnEnteryType_${partyId}" name="hdnEnteryType_${partyId}" value="${$("#ddlEnteryType :selected").val()}" />
                                 <input type="hidden" id="hdnAmount_${partyId}" data-index="${partyId}" name="hdnAmount_${partyId}" value="${$("#Amount").val()}" />
                               `;
                cell.append(btnRemove);

                //Add Entry Type cell.
                var cell = $(row.insertCell(-1));
                cell.html($("#ddlEnteryType :selected").text());

                //Add Party cell.
                cell = $(row.insertCell(-1));
                cell.html($("#PartyId").text());
                //Add Office cell.
                cell = $(row.insertCell(-1));
                cell.html($("#OfficeId :selected").text());
                //Add Amount cell.
                cell = $(row.insertCell(-1));
                cell.html($("#Amount").val());

                //Set Default
                $("#ddlEnteryType").val("CR");
                $('#PartyId').val("");
                $("#Amount").val("");

                $("td").each(function () {
                    $(this).addClass("tbl-css");
                });
            }
           
            if ($("#tblVoucher TBODY TR").length > 0) {
                $("[id^='hdnAmount_']").each(function () {
                    let index = $(this).attr("data-index");
                    if ($("#hdnEnteryType_" + index).val() === "CR") {
                        cramount += parseFloat($(this).val());
                    }
                    if ($("#hdnEnteryType_" + index).val() === "DR") {
                        dramount += parseFloat($(this).val());
                    }
                });
                if (cramount > 0 && dramount > 0) {
                    diffamount = cramount - dramount;
                }
                $("#divAmountDiffrence").show();
                $("#lblDebitTotal").val(dramount);
                $("#lblCreditTotal").val(cramount);
                $("#lblDiffrenceTotal").val(diffamount);
            } else {
                $("#divAmountDiffrence").hide();
            }
            if (bAdded) {
                return true;
            } else {
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
        });

        $("body").on("click", "#btnSubmit", function () {
            //Loop through the Table rows and build a JSON array.
            let VoucherLine = [];
            let isValid = true;
            let msg = "";
            if (parseInt($("#OfficeId").val()) === 0) {
                msg = "Please select office.";
                isValid = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
            if ($("#InvoiceNo").val() === "") {
                msg = "Please fill invoice no.";
                isValid = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
            if (parseInt($("#PartyId").val()) === 0) {
                msg = "Please fill party.";
                isValid = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
            if ($("#Purchase_Ref").val() === "") {
                msg = "Please fill purchase ref.";
                isValid = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
            if ($("#TransactionDate").val() === "") {
                msg = "Please select transaction date.";
                isValid = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
            if (parseInt($("#StateId").val()) === 0) {
                msg = "Please select State.";
                isValid = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
            if (isValid) {
                if ($("#tblVoucher TBODY TR").length > 0) {
                    $("[id^='hdnPartyId_']").each(function () {
                        let partyId = parseInt($("#" + this.id).val());
                        let oMapping = {};
                        oMapping.Line_Id = $('#hdnLine_Id_' + partyId).val();
                        oMapping.Ledger_Id = $('#hdnPartyId_' + partyId).val();
                        oMapping.Entry_Type = $('#hdnEnteryType_' + partyId).val();
                        oMapping.Amount = $('#hdnAmount_' + partyId).val();
                        VoucherLine.push(oMapping);
                    });
                    $("#VoucherLine").val(JSON.stringify(VoucherLine));
                } else {
                    msg = "Please add at least 1 voucher.";
                    isValid = false;
                    $('#alertModal').modal('show');
                    $('#msg').html(msg);
                    return false;
                }
            } else {
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
        });

        $("#btnResetForm").click(function (e) {
            e.preventDefault();
            $("#drpParty").val($("#drpParty option:first").val());
            $("#VoucherLine").val("");
            $("#Amount_DR").val(0);
            $("#Amount_CR").val(0);
            $("#Total_Amount").val(0);
            $("#Constant_Id").val("");
            $("#VoucherNumber").val("");
            $("#VoucherDate").val("");
            $("#CheckNumber").val("");
            $("#CheckDate").val("");
            $("#PartyId").val("");
            $("#Amount").val("");
            $("#Remarks").val("");
            $("#tblVoucher TBODY").empty();
            $("#divDeleteVoucher").css('display', 'none');

            if ($("#tblVoucher TBODY TR").length > 0) {
                $("[id^='hdnAmount_']").each(function () {
                    let index = $(this).attr("data-index");
                    if ($("#hdnEnteryType_" + index).val() === "CR") {
                        cramount += parseFloat($(this).val());
                    }
                    if ($("#hdnEnteryType_" + index).val() === "DR") {
                        dramount += parseFloat($(this).val());
                    }
                });
                if (cramount > 0 && dramount > 0) {
                    diffamount = cramount - dramount;
                }
                $("#divAmountDiffrence").show();
                $("#lblDebitTotal").val(dramount);
                $("#lblCreditTotal").val(cramount);
                $("#lblDiffrenceTotal").val(diffamount);
            } else {
                $("#divAmountDiffrence").hide();
            }
        });

        $("#btnDelete").click(function () {
            let VoucherId = parseInt($("#VoucherId").val());
            if (VoucherId > 0) {
                window.location.href = "/Material/DeleteMatrialPurchase?VoucherId=" + VoucherId + "&AppToken=" + scope.AppToken;
            }
            if ($("#tblVoucher TBODY TR").length > 0) {
                $("[id^='hdnAmount_']").each(function () {
                    let index = $(this).attr("data-index");
                    if ($("#hdnEnteryType_" + index).val() === "CR") {
                        cramount += parseFloat($(this).val());
                    }
                    if ($("#hdnEnteryType_" + index).val() === "DR") {
                        dramount += parseFloat($(this).val());
                    }
                });
                if (cramount > 0 && dramount > 0) {
                    diffamount = cramount - dramount;
                }
                $("#divAmountDiffrence").show();
                $("#lblDebitTotal").val(dramount);
                $("#lblCreditTotal").val(cramount);
                $("#lblDiffrenceTotal").val(diffamount);
            } else {
                $("#divAmountDiffrence").hide();
            }
        });
    });

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        if (confirm("Do you want to remove this voucher.", "Remove")) {
            //Get the reference of the Table.
            var table = $("#tblMaterialPurchase")[0];
            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
        //let sumOfTotal = 0;
        //$("#tblVoucher TBODY TR").each(function () {
        //    var row = $(this);
        //    let td = row.find("TD");
        //    sumOfTotal += parseFloat(td[13].innerText);
        //});
        //$("#PurchaseAmount").val(sumOfTotal.toFixed(2));
        //$("#lblTotalAmount").text("Total : " + sumOfTotal.toFixed(2));
        if ($("#tblVoucher TBODY TR").length > 0) {
            $("[id^='hdnAmount_']").each(function () {
                let index = $(this).attr("data-index");
                if ($("#hdnEnteryType_" + index).val() === "CR") {
                    cramount += parseFloat($(this).val());
                }
                if ($("#hdnEnteryType_" + index).val() === "DR") {
                    dramount += parseFloat($(this).val());
                }
            });
            if (cramount > 0 && dramount > 0) {
                diffamount = cramount - dramount;
            }
            $("#divAmountDiffrence").show();
            $("#lblDebitTotal").val(dramount);
            $("#lblCreditTotal").val(cramount);
            $("#lblDiffrenceTotal").val(diffamount);
        } else {
            $("#divAmountDiffrence").hide();
        }
    };
</script>