@model IMS.Models.ViewModel.FinancialMaster
@{
    ViewBag.Title = "Financial Master";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Financial Master</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    <div class="col-lg-12"><p id="msg" style="color:#ef0f44;text-align:center">@ViewBag.Msg</p></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        @using (Html.BeginForm("ManageFinancialMaster", "FinancialMaster", FormMethod.Post, new { enctype = "multipart/form-data", @id = "FinancialMaster" }))
                        {
                            @*<input type="hidden" id="Financial_Id" name="Financial_Id" value="0" />*@
                            @Html.HiddenFor(m => m.FinancialId)
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>From Date<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.FromDate, htmlAttributes: new { @placeholder = "DD/MM/YYY", @required = "required", @class = "form-control clsDate" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>To Date<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.ToDate, htmlAttributes: new { @placeholder = "DD/MM/YYY", @required = "required", @class = "form-control clsDate" })
                                </div>
                            </div> <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Status<span class="mandatory">*</span></label>
                                    @{var listItems = new List<SelectListItem>{
                                          new SelectListItem { Text = "Active", Value="1" },
                                          new SelectListItem { Text = "InActive", Value="2" }
                                     };
                                    }
                                    @Html.DropDownListFor(m => m.IsActive, new SelectList(listItems, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-primary pull-right">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="blank-page">
                    <div id="listGrid"></div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        IMSC.ajaxCall("GET", "/FinancialMaster/GetFinancialMaster", {}, "text", function (d) {
            var result = JSON.parse(d);
            if (result !== "null" && result !== "") {
                var fields = [
                    { name: "Financial_Id", css: "hidden", },
                    { name: "From_date", title: "From Date", sorting: true, filtering: true, width: 50 },
                    { name: "To_date", title: "To Date", sorting: true, filtering: true, width: 50 },
                    {
                        width: 20,
                        itemTemplate: function (value, args) {
                            var $customeEditButton = $('<a class="btn btn-primary"><i class="fa fa-edit"></i></a>')
                                .click(function (e) {
                                    editFinancialMaster('Edit', args);
                                    return false;
                                });
                            return $("<div class='display-flex'></div>").append($customeEditButton);
                        }
                    }
                ];
                var options = {
                    filtering: true,
                    editing: false,
                    sorting: true,
                    paging: true,
                    autoload: true,
                    controller: {
                    },
                    fields: fields
                };
                $.extend(options, IMSC.grid_options);
                $("#listGrid").jsGrid(options);
                IMSC.filteOnKeyPress("#listGrid");
            }

            var editFinancialMaster = function (dilogType, FinancialMaster) {
                if (FinancialMaster.UserId > 0) {
                    $("#Financial_Id").val(FinancialMaster.UserId);
                    $("#FromDate").val(FinancialMaster.From_date);
                    $("#Todate").val(FinancialMaster.To_date);
                    $("#IsActive").val(FinancialMaster.LastName);
                    $("#btnSubmit").text("Update")
                }
                else {
                    $("#Financial_Id").val("0");
                    $("#btnSubmit").text("Submit")
                }
            };
        });
    });
</script>