@model IMS.Models.ViewModel.ItemGroupMaster
@{
    ViewBag.Title = "Item Group Master";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}

@{
    var AppToken = Convert.ToString(@Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Item Group Master</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        @using (Html.BeginForm("ManageItemGroupMaster", "Master", FormMethod.Post, new { enctype = "multipart/form-data", @id = "ItemGroupMaster" }))
                        {
                            @Html.HiddenFor(m => m.GroupId, htmlAttributes: new { @id = "GroupId" })
                            @Html.HiddenFor(m => m.AppToken)
                            <div class="heading">
                                <h4>
                                    Item Group Detail
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Title<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Title, htmlAttributes: new { @placeholder = "Enter Title", @id = "Title", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-12 form-group">
                                    <label>Remarks</label>
                                    @Html.TextAreaFor(m => m.Remarks, htmlAttributes: new { @placeholder = "Remarks", @class = "form-control", @id = "Remarks" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-10"></div>
                            <div class="col-md-1 pull-right form-group">
                                <div class="appointment-btn text-lg-right">
                                    <button type="reset" name="btnReset" id="btnReset" class="btncustome">Reset</button>
                                </div>
                            </div>
                            <div class="col-md-1 pull-right form-group">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="blank-page">
                    <div id="listGrid"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
         if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        IMSC.ajaxCall("GET", "/Master/GetItemGroupMaster?AppToken="+'@Model.AppToken', {}, "text", function (d) {
         var ItemGroupLists = JSON.parse(d);
         if (ItemGroupLists !== "null") {
             var fields = [
                   {
                     title: "Action",
                     width: 80,
                     itemTemplate: function (value, args) {
                         return IMSC.genrateDynamicButtons(value, args,@Model.AuthMode);
                     }
                 },
                 { name: "Group_Id", css: "hidden" },
                 { name: "Title", type: "text", title: "Title", sorting: true, filtering: true, width: 150 },
                 { name: "Remarks", type: "text", title: "Remarks", sorting: true, filtering: false, width: 200},
             ];
             var options = {
                 filtering: true,
                 editing: true,
                 sorting: true,
                 paging: true,
                 autoload: true,
                 controller: {
                     ItemGroupLists: ItemGroupLists,
                     loadData: function (filter) {
                         return $.grep(this.ItemGroupLists, function (ItemGroupList) {
                             return ((!filter.Title || ItemGroupList.Title.toLowerCase().indexOf(filter.Title.toLowerCase()) > -1));
                         });
                     }
                 },
                 fields: fields
             };
             $.extend(options, IMSC.grid_options);
             $("#listGrid").jsGrid(options);
             IMSC.filteOnKeyPress("#listGrid");
                }
            });
        });
        var editFormData = function (dilogType, ItemGroupMaster) {
            $("msg").text = "";
            if (ItemGroupMaster.Group_Id > 0) {
                $("#GroupId").val(ItemGroupMaster.Group_Id);
                $("#Title").val(ItemGroupMaster.Title);
                $("#Remarks").val(ItemGroupMaster.Remarks);
                $("#btnSubmit").text("Update")
            }
            else {
                $("#GroupId").val("0");
                $("#btnSubmit").text("Submit")
            }
        };

        var deleteFormData = function (dialogType, ItemGroupMaster) {
            var result = confirm("Want to delete?");
            if (result == true) {
            IMSC.ajaxCall("POST", "/Master/DeleteItemGroupMaster?GroupId=" + ItemGroupMaster.Group_Id +"&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
            var result = JSON.parse(d);
            if (result !== "null" && result !== "") {
                window.location.reload();
            }
        });
            } else {
                return false;
            }
    };
</script>
