@model IMS.Models.ViewModel.RoleMaster
@{
    ViewBag.Title = "Role Master";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
    int index = 0;
    string sChecked = "";
    int iSelectedValue = 0;
    string sSdisabled = "";
}

@{
    var AppToken = Convert.ToString(Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Item Master</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        @using (Html.BeginForm("ManageRoleMaster", "Master", FormMethod.Post, new { enctype = "multipart/form-data", @id = "RoleMaster" }))
                        {
                            @Html.HiddenFor(m => m.AppToken)
                            @Html.HiddenFor(m => m.RoleId)
                            @Html.HiddenFor(m => m.MenuMapping, htmlAttributes: new { @id = "MenuMapping" })
                            <div class="heading">
                                <h4>
                                    Roles
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Title<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Title, htmlAttributes: new { @placeholder = "Enter Title", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Code<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Code, htmlAttributes: new { @placeholder = "Enter Code", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-12 form-group">
                                    <label>Remarks</label>
                                    @Html.TextAreaFor(m => m.Remarks, htmlAttributes: new { @placeholder = "Remarks", @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-12 form-group">
                                    <button type="button" id="btnRoleAndMenuMapping" class="btn btn-warning" name="btnRoleAndMenuMapping">View Role & Menu Mapping</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div id="divShowRoleAndMenuMapping" style=" display:none">
                                <div class="styled-input">
                                    <div class="col-md-12 form-group">
                                        <h5>Role Menu Priority Mapping</h5>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <table id="tblRole" class="table" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Form</th>
                                                <th>Action</th>
                                                <th>Permission</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var oRole in Model.MenuModule)
                                            {
                                                var menu = Model.ObjRoleMenuMapping.Where(x => Convert.ToInt32(x.MenuId) == Convert.ToInt32(oRole.Value)).FirstOrDefault();
                                                if (menu != null)
                                                {
                                                    iSelectedValue = menu.Auth != 0 ? menu.Auth : 0;
                                                    sChecked = menu.Auth != 0 ? "checked" : "";
                                                    sSdisabled = Convert.ToString(menu.Auth) == "0" ? "disabled" : "";
                                                }
                                                <tr>
                                                    <td>
                                                        @oRole.Text
                                                    </td>
                                                    <td>
                                                        <input type="hidden" id="hdnIndex" data-index="@index" />
                                                        <input type="checkbox" id="chkMenu_@index" @sChecked data-index="@index" class="form-control clsChekPermission" data-menu-id="@Convert.ToInt32(oRole.Value)" />
                                                    </td>
                                                    <td>
                                                        @{var permission = new List<SelectListItem>{
                                                                                                                                              new SelectListItem { Text = "Select Permission", Value="0" },
                                                                                                                                              new SelectListItem { Text = "Add", Value="1" },
                                                                                                                                              new SelectListItem { Text = "Edit", Value="2" },
                                                                                                                                               new SelectListItem { Text = "Delete", Value="3" },
                                                                                                                                         };
                                                        }
                                                        @Html.DropDownList("ddlPermission_" + index, new SelectList(permission, "Value", "Text", selectedValue: iSelectedValue), htmlAttributes: new { @id = "ddlPermission_" + index, @class = "form -control clsPermission", sSdisabled })
                                                    </td>
                                                </tr>
                                                index = index + 1;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome pull-right">Save</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="appointment-btn text-lg-right">
                                    <a href="/master/RoleIndex?appToken=@Model.AppToken" name="btnBack" id="btnBack" class="btncustome pull-right">Back To Item List</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
         if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        $("[id*=hdnIndex]").each(function () {
            let i = $(this).attr('data-index');
            let ddlPermission = "#ddlPermission_" + i;
            if ($(ddlPermission).val() === "0") {
                $(ddlPermission).prop('required', false).prop("disabled", true);
            } 
        });
        $("body").on("click", "#btnSubmit", function () {
            //Loop through the Table rows and build a JSON array.
            var RoleMenuMapping = [];
            $("#tblRole input:checkbox").each(function () {
                let oMapping = {};
                let index = $(this).attr('data-index');
                let ddlId = "#ddlPermission_" + index;
                oMapping.MenuId = $(this).attr('data-menu-id');
                oMapping.Auth = $(ddlId).val();
                RoleMenuMapping.push(oMapping);
            });
            $("#MenuMapping").val(JSON.stringify(RoleMenuMapping));
        });
        $("#btnRoleAndMenuMapping").click(function () {
            $("#divShowRoleAndMenuMapping").toggle();
        });
        $("[id*=chkMenu_]").click(function () {
            let index = $(this).attr('data-index');
            let ddlId = "#ddlPermission_" + index;
            if (this.checked) {
                $(ddlId).prop('required', true).prop("disabled", false);
            } else {
                $(ddlId).prop('required', false).prop("disabled", true).val("0");
            }
        });
    });
</script>
