@model IMS.Models.ViewModel.UserMaster
@{
    ViewBag.Title = "Manage User Master";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
    string checkeds = "";
}

@{
    var AppToken = Convert.ToString(Model.AppToken);
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Manage User Master</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        @using (Html.BeginForm("ManageUserMaster", "Master", FormMethod.Post, new { @id = "UserMaster" }))
                        {
                            @Html.HiddenFor(m => m.AppToken)
                            @Html.HiddenFor(m => m.AuthMode)
                            @Html.HiddenFor(m => m.User_Id)
                            @Html.HiddenFor(m => m.sRoles, htmlAttributes: new { @id = "hdnRoles" })
                            <div class="heading">
                                <h4>
                                    General Information
                                </h4>
                            </div>
                            <br />
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>First Name<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.FirstName, htmlAttributes: new { @placeholder = "First Name", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Middle Name</label>
                                    @Html.TextBoxFor(m => m.MiddleName, htmlAttributes: new { @placeholder = "Middle Name", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Last Name<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.LastName, htmlAttributes: new { @placeholder = "Last Name", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Mobile<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Mobile, htmlAttributes: new { @placeholder = "Mobile", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Email<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @placeholder = "Email", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Gender<span class="mandatory">*</span></label>
                                    @{var genderItems = new List<SelectListItem>{
                                                                                                                                                                                                                                                                                                                                                                                                                                          new SelectListItem { Text = "Select Gender", Value="" },
                                                                                                                                                                                                                                                                                                                                                                                                                                          new SelectListItem { Text = "Male", Value="1" },
                                                                                                                                                                                                                                                                                                                                                                                                                                          new SelectListItem { Text = "Female", Value="2" },
                                                                                                                                                                                                                                                                                                                                                                                                                                           new SelectListItem { Text = "Other", Value="3" },
                                                                                                                                                                                                                                                                                                                                                                                                                                     };
                                    }
                                    @Html.DropDownListFor(m => m.Gender, new SelectList(genderItems, "Value", "Text"), htmlAttributes: new { @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Relegion<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Relegion, htmlAttributes: new { @placeholder = "Relegion", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>DOB<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.DOB, htmlAttributes: new { @placeholder = "DD/MM/YYY", @required = "required", @class = "form-control clsDate" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>DOJ<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.DOJ, htmlAttributes: new { @placeholder = "DD/MM/YYY", @required = "required", @class = "form-control clsDate" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="heading">
                                <h4>
                                    Address
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-6 form-group">
                                    <label>Address 1<span class="mandatory">*</span></label>
                                    @Html.TextAreaFor(m => m.Address1, htmlAttributes: new { @placeholder = "Address 1", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-6 form-group">
                                    <label>Address 2<span class="mandatory">*</span></label>
                                    @Html.TextAreaFor(m => m.Address2, htmlAttributes: new { @placeholder = "Address2", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>State</label>
                                    @Html.DropDownListFor(m => m.State, new SelectList(Model.StateLists, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Location</label>
                                    @Html.DropDownListFor(m => m.City, new SelectList(Model.LocationLists, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Pin code</label>
                                    @Html.TextBoxFor(m => m.Pincode, htmlAttributes: new { @placeholder = "Pincode", @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="heading">
                                <h4>
                                    Other Information
                                </h4>
                            </div>
                            <br />
                            if (Model.User_Id == 0)
                            {
                                <div class="styled-input">
                                    <div class="col-md-4 form-group">
                                        <label>User Name<span class="mandatory">*</span></label>
                                        @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @placeholder = "User Name", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="styled-input">
                                    <div class="col-md-4 form-group">
                                        <label>Password<span class="mandatory">*</span></label>
                                        @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @placeholder = "Password", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="styled-input">
                                    <div class="col-md-4 form-group">
                                        <label>Confirm Password<span class="mandatory">*</span></label>
                                        @Html.TextBoxFor(m => m.ConfirmPassword, htmlAttributes: new { @placeholder = "Confirm Password", @required = "required", @class = "form-control" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="styled-input">
                                    <div class="col-md-4 form-group">
                                        <label>User Name<span class="mandatory">*</span></label>
                                        @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @placeholder = "User Name", @required = "required", @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(m => m.UserName)
                                    </div>
                                </div>
                            }
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Office</label>
                                    @Html.DropDownListFor(m => m.Default_OfficeId, new SelectList(Model.OfficeLists, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Primary Role</label>
                                    @Html.DropDownListFor(m => m.PrimaryRole, new SelectList(Model.RoleLists, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Remarks</label>
                                    @Html.TextBoxFor(m => m.Remarks, htmlAttributes: new { @placeholder = "Remarks", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Company</label>
                                    @Html.DropDownListFor(m => m.CompanyId, new SelectList(Model.CompanyLists, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="heading">
                                    <h4>
                                        Manage Roles
                                    </h4>
                                </div>
                                <br />
                                <div class="clearfix"></div>
                                @foreach (var item in Model.RoleLists)
                                {
                                    if (Model.sRoles != null && Model.sRoles != "")
                                    {
                                        string[] sRoles = Model.sRoles.Split(',');
                                        checkeds = sRoles.Where(x => Convert.ToInt32(x) == Convert.ToInt32(item.Value)).FirstOrDefault() != null ? "checked" : "";
                                    }
                                    <div class="col-md-2 form-group">
                                        <label for="@item.Value">@item.Text</label>
                                    </div>
                                    <div class="col-md-1 form-group">
                                        <input class="chk" type="checkbox" @checkeds id="@item.Value">
                                    </div>
                                }
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-8"></div>

                            <div class="col-md-2">
                                <div class="appointment-btn text-lg-right">
                                    <a href="/master/UserIndex?AppToken=@AppToken" class="btncustome pull-right">Back To List</a>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome pull-right">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
         if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        $('#btnSubmit').click(function () {
            var selected = new Array();
            $("input:checkbox[class=chk]:checked").each(function () {
                selected.push($(this).attr("id"));
            });
            $("#hdnRoles").val(selected);
        });
    });
</script>