@model IMS.Models.ViewModel.VoucherMaster
@{
    ViewBag.Title = "Voucher Entry";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}

@{
    var AppToken = Convert.ToString(@Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Voucher Master</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                <div class="col-lg-12"><p id="pMessage" style="color:forestgreen;text-align:center"></p></div>
                <div class="blank-page">
                    <div class="col-md-12" style="margin-bottom:10px; padding:0px">
                        <a href="/master/AddVoucher?appToken=@Model.AppToken&voucher_Id=0" title="Add Voucher" name="AddVoucher" id="AddVoucher" class="btn btn-success pull-right"><i class="fa fa-plus"></i></a>
                    </div>
                    <div class="clearfix"></div>
                    <div id="listGrid"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
         if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        IMSC.ajaxCall("GET", "/Master/GeVoucher?AppToken="+'@Model.AppToken', {}, "text", function (d) {
            var Lists = JSON.parse(d);
            const key = 'Voucher_Id';
            
            var VoucherLists = [...new Map(Lists.map(item =>
                [item[key], item])).values()];
         if (VoucherLists !== "null") {
             var fields = [
                 {
                     title: "Action",
                     width:"40",
                     itemTemplate: function (value, args) {
                         var $customeEditButton = `<a href="/master/addvoucher?appToken=@Model.AppToken&voucher_Id=${args.Voucher_Id}" class="btn btn-success" style="margin-right:5px;padding: 2px 5px 2px 5px"><i class="fa fa-edit"></i></a>`;
                                  return $("<div class='display-flex'></div>").append($customeEditButton);
                            }
                        },
                 { name: "Voucher_Id", css: "hidden" },
                 { name: "Voucher_No", type: "text", title: "Voucher No", sorting: true, filtering: true },
                 { name: "Voucher_Type", type: "text", title: "Voucher Type", sorting: true, filtering: true},
                 { name: "Voucher_Date", type: "text", title: "Voucher Date", sorting: true, filtering: true},
                 { name: "Cheque_No", type: "text", title: "Cheque No", sorting: true, filtering: true},
                 { name: "Cheque_Date", type: "text", title: "Cheque Date", sorting: true, filtering: false},
                 { name: "LedgerList", type: "text", title: "Ledger", sorting: false, filtering: true, width: "250" },
                 { name: "Total_Amount", type: "text", title: "Total Amount", sorting: true, filtering: false },
                 //{ name: "Remarks", type: "text", title: "Remarks", sorting: true, filtering: false }
             ];
             var options = {
                 filtering: true,
                 editing: true,
                 sorting: true,
                 paging: true,
                 autoload: true,
                 controller: {
                     VoucherLists: VoucherLists,
                     loadData: function (filter) {
                         return $.grep(this.VoucherLists, function (VoucherList) {
                             return ((!filter.Voucher_No || VoucherList.Voucher_No.toLowerCase().indexOf(filter.Voucher_No.toLowerCase()) > -1)
                                 && (!filter.Voucher_Type || VoucherList.Voucher_Type.toLowerCase().indexOf(filter.Voucher_Type.toLowerCase()) > -1));
                         });
                     }
                 },
                 fields: fields
             };
             $.extend(options, IMSC.grid_options);
             $("#listGrid").jsGrid(options);
             IMSC.filteOnKeyPress("#listGrid");
                }
            });
        });
</script>
