@model IMS.Models.ViewModel.StateMaster
@{
    ViewBag.Title = "State Master";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}

@{
    var AppToken = Convert.ToString(@Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>State Master</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    <div class="col-lg-12"><p id="msg" style="color:#ef0f44;text-align:center">@ViewBag.Msg</p></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        @using (Html.BeginForm("ManageStateMaster", "Master", FormMethod.Post, new { enctype = "multipart/form-data", @id = "StateMaster" }))
                        {
                            @Html.HiddenFor(m => m.StateId, htmlAttributes: new { @id = "StateId" })
                            @Html.HiddenFor(m => m.AppToken)
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Title<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Title, htmlAttributes: new { @placeholder = "Enter Title", @id = "Title", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Code<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Code, htmlAttributes: new { @placeholder = "Enter Code", @id = "Code", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Type<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(m => m.TypeId, new SelectList(Model.TypeLists, "Value", "Text"), htmlAttributes: new { @placeholder = "Select Type", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-12 form-group">
                                    <label>Remarks</label>
                                    @Html.TextAreaFor(m => m.Remarks, htmlAttributes: new { @placeholder = "Remarks", @class = "form-control", @id = "Remarks" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-10">
                            </div>
                            <div class="col-md-1">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome pull-right">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="appointment-btn text-lg-right">
                                    <button type="reset" name="btnReset" id="btnReset" class="btncustome pull-right">Reset</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="blank-page">
                    <div id="listGrid"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        IMSC.ajaxCall("GET", "/Master/GetStateMaster?AppToken="+'@Model.AppToken', {}, "text", function (d) {
         var StateLists = JSON.parse(d);
         if (StateLists !== "null") {
             var fields = [
                 { name: "State_Id", css: "hidden" },
                 { name: "Title", type: "text", title: "Title", sorting: true, filtering: true, width: 50 },
                 { name: "Code", type: "text", title: "Code", sorting: true, filtering: false, width: 50 },
                 { name: "Type_Id", css: "hidden" },
                 { name: "Remarks", css: "hidden" },
                 {
                     title: "Action",
                     width: 30,
                     itemTemplate: function (value, args) {
                         return IMSC.genrateDynamicButtons(value, args,@Model.AuthMode);
                     }
                 }
             ];
             var options = {
                 filtering: true,
                 editing: true,
                 sorting: true,
                 paging: true,
                 autoload: true,
                 controller: {
                     StateLists: StateLists,
                     loadData: function (filter) {
                         return $.grep(this.StateLists, function (StateList) {
                             return ((!filter.Title || StateList.Title.toLowerCase().indexOf(filter.Title.toLowerCase()) > -1)
                                 && (!filter.Code || StateList.Code.toLowerCase().indexOf(filter.Code.toLowerCase()) > -1));
                         });
                     }
                 },
                 fields: fields
             };
             $.extend(options, IMSC.grid_options);
             $("#listGrid").jsGrid(options);
             IMSC.filteOnKeyPress("#listGrid");
                }
            });
        });
        var editFormData = function (dilogType, StateMaster) {
            $("msg").text = "";
            if (StateMaster.State_Id > 0) {
                $("#StateId").val(StateMaster.State_Id);
                $("#Title").val(StateMaster.Title);
                $("#Code").val(StateMaster.Code);
                $("#Remarks").val(StateMaster.Remarks);
                $("#TypeId").val(StateMaster.Type_Id);
                $("#btnSubmit").text("Update")
            }
            else {
                $("#StateId").val("0");
                $("#btnSubmit").text("Submit")
            }
        };

        var deleteFormData = function (dialogType, StateMaster) {
            var result = confirm("Want to delete?");
            if (result == true) {
            IMSC.ajaxCall("POST", "/Master/DeleteStateMaster?stateId=" + StateMaster.State_Id +"&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
            var result = JSON.parse(d);
            if (result !== "null" && result !== "") {
                window.location.reload();
            }
        });
            } else {
                return false;
            }
    };
</script>
