@model IMS.Models.ViewModel.DiscountDashboard
@{
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}
@{
    var AppToken = Convert.ToString(Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/home/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Dashboard</span>
            </h2>
        </div>
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="styled-input">
                        <div class="col-md-2 form-group">
                            <label>Party</label>
                            @Html.DropDownListFor(m => m.PartyId, new SelectList(Model.PartyLists, "Value", "Text"), htmlAttributes: new { @id = "drpParty", @class = "form-control" })
                        </div>
                    </div>
                    <div class="styled-input">
                        <div class="col-md-2 form-group">
                            <label>Invoice No</label>
                            @*@Html.DropDownListFor(m => m.OrderId, new SelectList(Model.OrderList, "Value", "Text"), htmlAttributes: new { @id = "drpOrderId", @class = "form-control" })*@
                            <select id="drpInvoice" name="drpInvoice" class="form-control"></select>
                        </div>
                    </div>
                    <div class="styled-input">
                        <div class="col-md-2 form-group">
                            <label>From Date<span class="mandatory">*</span></label>
                            @Html.TextBoxFor(m => m.FromDate, htmlAttributes: new { @id = "FromDate", @placeholder = "dd/mm/yyyy", @class = "form-control clsDate" })
                        </div>
                    </div>
                    <div class="styled-input">
                        <div class="col-md-2 form-group">
                            <label>To Date<span class="mandatory">*</span></label>
                            @Html.TextBoxFor(m => m.ToDate, htmlAttributes: new { @id = "ToDate", @placeholder = "dd/mm/yyyy", @class = "form-control clsDate" })
                        </div>
                    </div>
                    <div class="col-md-1 form-group pull-left">
                        <button type="button" style="margin-top: 26px;" name="btnSearch" id="btnSearch" class="btncustome pull-right">Search</button>
                    </div>
                    <div class="col-md-1 form-group pull-left">
                        <button type="button" style="margin-top: 26px;" name="btnPrint" id="btnPrint" class="btncustome pull-right">Print</button>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        @using (Html.BeginForm("ManageDiscountDashboard", "Material", FormMethod.Post, new { enctype = "multipart/form-data", @id = "MaterialOrder" }))
                        {
                            @Html.HiddenFor(m => m.AppToken)
                            @Html.HiddenFor(m => m.PartyId, htmlAttributes: new { @id = "PartyId" })
                            @Html.HiddenFor(m => m.SaleId, htmlAttributes: new { @id = "SaleId" })
                            @Html.HiddenFor(m => m.OrderId, htmlAttributes: new { @id = "OrderId" })
                            @Html.HiddenFor(m => m.DisDash, htmlAttributes: new { @id = "DisDash" })

                            <div id="listGrid"></div>
                            <div class="clearfix"> <br /> </div>
                            <div class="col-md-11"></div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome">Received</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnDelete" id="btnDelete" class="btncustome">Settled</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button name="btnReset" id="btnReset" class="btncustome">Reset</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>


<script type="text/javascript">
    function IsDate(txtDate) {
        var currVal = txtDate;
        if (currVal == '') {
            return false;
        }

        //Declare Regex  
        var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
        var dtArray = currVal.match(rxDatePattern); // is format OK?

        if (dtArray == null) {
            return false;
        }

        //Checks for dd/mm/yyyy format.
        dtDay = dtArray[1];
        dtMonth = dtArray[3];
        dtYear = dtArray[5];

        if (dtMonth < 1 || dtMonth > 12) {
            return false;
        }
        else if (dtDay < 1 || dtDay > 31) {
            return false;
        }
        else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31) {
            return false;
        }
        else if (dtMonth == 2) {
            var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
            if (dtDay > 29 || (dtDay == 29 && !isleap))
                return false;
        }
        return true;
    };
    $(document).ready(function () {
         if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        $("#drpParty").select2();
        var listItems = [];

        $("#drpParty").change(function () {
            let Party_Id = parseInt($('#drpParty').val());
            $("#drpInvoice").empty();
            $("#drpInvoice").append($("<option></option>").val("0").html("Select Invoice"));
            $('#PartyId').val(Party_Id);
            IMSC.ajaxCall("GET", "/Material/GetInvoiceSales?Party_Id=" + Party_Id + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                var result = JSON.parse(d);
                if (result.length > 0) {
                    $.each(result, function (index, value) {
                        $("#drpInvoice").append($("<option></option>").val(value.Sale_Id).html(value.Invoice_No));
                    });
                }
            });
        });

        var loadData = () => {
            let PartyId = parseInt($("#drpParty").val());
            let OrderId = parseInt($("#drpInvoice").val());
            let FromDate = "";
            if ($("#FromDate").val() !== "") {
                let arr = $("#FromDate").val().split("/");
                FromDate = `${arr[2]}/${arr[1]}/${arr[0]}`
            }
            let ToDate = "";
            if ($("#ToDate").val() !== "") {
                let arr = $("#ToDate").val().split("/");
                ToDate = `${arr[2]}/${arr[1]}/${arr[0]}`
            }
            IMSC.ajaxCall("GET", "/Material/GetDiscountDashboard?PartyId=" + PartyId + "&SaleId=" + OrderId + "&FromDate=" + FromDate + "&ToDate=" + ToDate+"&AppToken="+'@Model.AppToken', {}, "text", function (d) {
                var result = JSON.parse(d);
                if (result.Status !== undefined) {
                    //Show Error message if any error
                    scope.message(result.Msg, result.Status);
                } else {
                    listItems = result;
                    listGrid.jsGrid("loadData");
                    IMSC.filteOnKeyPress("#listGrid");
                }
            });
        }


        var options = {
            controller: {
                loadData: function (filter) {
                    return $.grep(listItems, function (obj) {
                        return ((!filter.Invoice_No || obj.Invoice_No.toLowerCase().indexOf(filter.Invoice_No.toLowerCase()) > -1));
                    });
                }
            },
            fields: [
                {
                    width:25,
                    sorting: false,
                    headerTemplate: function () {
                        return `<input type="checkbox" id="chkAll" class="chkAll checkboxcss" name="chkAll" />`;
                    },
                    itemTemplate: function (i,o) {
                        return `<input type="checkbox" id="chk_${o.Sale_Id}" class="chk checkboxcss" name="chk_${o.Sale_Id}" data-value="${o.Sale_Id}"  />`;
                    },
                },
                { name: "Sale_Id", css: "hidden", },
                { name: "Office_Id", css: "hidden", },
                { name: "Party_Id", css: "hidden", },
                { name: "Invoice_No", type: "text", title: "Invoice No", sorting: true, filtering: false},
                { name: "Bill_Date", title: "Bill Date", sorting: true, filtering: false},
                { name: "Bill_Discount", title: "Discount(%)", sorting: true, filtering: false},
                { name: "Bill_DiscountAmount", title: "Achieved Point", sorting: true, filtering: false},
                {
                    title: "Reedemed Point", sorting: true, filtering: false,
                    itemTemplate: function (i,o) {
                        return ` <input type="text" id="ReceivedAmount_${o.Sale_Id}" placeholder = "Received-Amount" value="${o.ReceivedDiscount}"  name="ReceivedAmount_${o.Sale_Id}" class="form-control" />`;
                    }
                },
                {
                    title: "Reedemed Date", sorting: true, filtering: false,
                    itemTemplate: function (i, o) {
                        return `<input type="text" id="ReceivedDate_${o.Sale_Id}" placeholder = "dd/mm/yyyy" name="ReceivedDate_${o.Sale_Id}" class="form-control clsDate" />`;
                    }
                },
                { name: "BalAmount", title: "Balance Amount", sorting: true, filtering: false},
                {
                    title: "Remarks", sorting: true, filtering: false,
                    itemTemplate: function (i, o) {
                        return `<input type="text" id="Remarks_${o.Sale_Id}" placeholder = "Remarks" name="Remarks_${o.Sale_Id}" class="form-control" />
                                <input type="hidden" id="hdnSaleId_${o.Sale_Id}" name="hdnSaleId_${o.Sale_Id}" value="${o.Sale_Id}"
                                data-Office_Id="${o.Office_Id}" data-Party_Id="${o.Party_Id}" data-Invoice_No="${o.Invoice_No}"
                                data-Bill_Discount="${o.Bill_Discount}" data-Bill_DiscountAmount="${o.Bill_DiscountAmount}"
                                data-BalanceAmount="${o.BalAmount}" data-Bill_Date="${o.Bill_Date}" />`;
                    }
                }
            ]
        }
        $.extend(options, IMSC.grid_options);
        listGrid = $("#listGrid").jsGrid(options);

        loadData();

        $("#btnSearch").click(function (e) {
            e.preventDefault();
            loadData();
        });
        $("#btnPrint").click(function (e) {
            e.preventDefault();
            let fromdate = "";
            let todate = "";
            if (parseInt($("#drpParty").val()) == 0) {
                $('#alertModal').modal('show');
                $('#msg').html("Please select party");
                return;
            }
            if ($("#FromDate").val() == "") {
                $('#alertModal').modal('show');
                $('#msg').html("Please select from-date.");
                return;
            }
            if ($("#ToDate").val() == "") {
                $('#alertModal').modal('show');
                $('#msg').html("Please select to-date.");
                return;
            }
            
            fromdate = $("#FromDate").val().replace('/', '-').replace('/', '-');
            todate = $("#ToDate").val().replace('/', '-').replace('/', '-');
            //fromdate = fdate[2] + '-' + fdate[1] + '-' + fdate[0].slice(-2);
            //todate = tdate[2] + '-' + tdate[1] + '-' + tdate[0].slice(-2);

            window.open("/Reports/ReportViewer.aspx?ReportId=5&Party_Id=" + $("#drpParty").val() + "&From_Date=" + fromdate + "&To_Date=" + todate +"");
        });

        

        
        
    

        $("body").on("click", "#btnSubmit", function () {
            let DisDash = [];
            let isValid = true;
            let msg = "";
            let isanyitemchecked = false;
            $("[id^='hdnSaleId_']").each(function () {

                let index = parseInt($("#" + this.id).val());

                if ($("#chk_" + index).prop('checked') === true) {
                    isanyitemchecked = true;
                    let oMapping = {};
                    let BalAmount = 0;
                    let ReceivedAmount = 0;
                    let Bill_DiscountAmount = 0;
                    
                    if (parseFloat($("#ReceivedAmount_" + index).val()) === 0 || parseFloat($("#ReceivedAmount_" + index).val()) < 0 || $("#ReceivedAmount_" + index).val().trim() === "") {
                        isValid = false;
                        msg = "Please enter received amount!!!";
                        return false;
                    }
                    
                    var ReceivedDate = $("#ReceivedDate_" + index).val().trim();
                    if (!IsDate(ReceivedDate)) {
                        isValid = false;
                        msg = "Please enter valid received date!!!";
                        return false;
                    }
                    

                    if (isValid) {
                        ReceivedAmount = parseFloat($("#ReceivedAmount_" + index).val());
                        Bill_DiscountAmount = parseFloat($("#" + this.id).attr('data-Bill_DiscountAmount'));
                        BalAmount = parseFloat($("#" + this.id).attr('data-BalanceAmount'));
                        if (BalAmount == Bill_DiscountAmount) {
                            //if (ReceivedAmount > Bill_DiscountAmount) {
                            //    msg = "Received amount cannot be greater than Discount Amount !!!";
                            //    isValid = false;
                            //    return false;
                            //}
                            BalAmount = Bill_DiscountAmount - ReceivedAmount;
                        }
                        else {
                            //if (ReceivedAmount > BalAmount) {
                            //    msg = "Received amount cannot be greater than Balance Amount !!!";
                            //    isValid = false;
                            //    return false;
                            //}
                            BalAmount = BalAmount - ReceivedAmount;
                        }


                        oMapping.Sale_Id = index;
                        oMapping.Invoice_No = $("#" + this.id).attr('data-Invoice_No');
                        oMapping.Office_Id = $("#" + this.id).attr('data-Office_Id');
                        oMapping.Party_Id = $("#" + this.id).attr('data-Party_Id');
                        oMapping.Transaction_Date = $("#ReceivedDate_" + index).val();
                        oMapping.DiscountAmount = ReceivedAmount;
                        oMapping.BalAmount = BalAmount;
                        oMapping.Remarks = $("#Remarks_" + index).val();
                        oMapping.Is_Disc2_Settled = "0";
                        DisDash.push(oMapping);
                    }

                }
                $("#DisDash").val(JSON.stringify(DisDash));
            });

            if (!isanyitemchecked) {
                isValid = false;
                msg = "Please select record!!!";
            }

            if (isValid) {
                return true;
            } else {
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
        });

        $("body").on("click", "#btnDelete", function () {
            let DisDash = [];
            let msg = "";
            let isanyitemchecked = false;
            $("[id^='hdnSaleId_']").each(function () {
                let index = parseInt($("#" + this.id).val());
                if ($("#chk_" + index).prop('checked') === true) {
                    isanyitemchecked = true;
                    let oMapping = {};
                    oMapping.Sale_Id = index;
                    oMapping.Is_Disc2_Settled = "1";
                    oMapping.Invoice_No = "";
                    oMapping.Office_Id = "0";
                    oMapping.Party_Id = "0";
                    oMapping.Transaction_Date = "";
                    oMapping.DiscountAmount = "0";
                    oMapping.BalAmount = "0";
                    oMapping.Remarks = "";

                    DisDash.push(oMapping);
                }

            });
            if (!isanyitemchecked) {
                msg = "Please select record!!!";
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }

            $("#DisDash").val(JSON.stringify(DisDash));
        });




        $("#chkAll").change(function () {
            if (this.checked) {
                $("[id^='chk_']").each(function () {
                    $("#" + this.id).prop('checked', true);
                });
            } else {
                $("[id^='chk_']").each(function () {
                    $("#" + this.id).prop('checked', false);
                });
            }
        });

        $("body").on("change", ".chk", function () {
            if ($(".chk").length === $(".chk:checked").length) {
                $("#chkAll").prop('checked', true);
            } else {
                $("#chkAll").prop('checked', false);

            }
        });
    });

    $("#btnReset").click(function (e) {
        e.preventDefault();
        $("#drpParty").val($("#drpParty option:first").val());
        $("#drpInvoice").empty();
        $("#FromDate").val("");
        $("#ToDate").val("");
        loadData();
    });

</script>

