@model IMS.Models.ViewModel.MaterialPurchase
@{
    /**/

    ViewBag.Title = "Material Purchase";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}
<!--Material Purchase -->
<script src="~/assets/materialPurchase.js"></script>
<!--Material Purchase END -->
@{
    var AppToken = Convert.ToString(@Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-shopping-cart"></i>
                <span>Material Purchase</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <div class="heading">
                            <h4>
                                Search Purchase Material
                            </h4>
                        </div>
                        <br />
                        <div class="styled-input">
                            <div class="col-md-3 form-group">
                                <label>Party</label>
                                @Html.DropDownList("drpParty", new SelectList(Model.PartyLists, "Value", "Text"), htmlAttributes: new { @id = "drpParty", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Invoice<span class="mandatory">*</span></label>
                            <select id="drpInvoice" name="drpInvoice" class="form-control"></select>
                        </div>
                        <div class="col-md-1 form-group pull-left">
                            <button type="button" style="margin-top: 18px;" name="btnSearch" id="btnSearch" class="btncustome pull-right">Search</button>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        @using (Html.BeginForm("ManageMaterialPurchase", "Material", FormMethod.Post, new { @id = "MaterialPurchase" }))
                        {
                            @Html.HiddenFor(m => m.PurchaseId, htmlAttributes: new { @id = "PurchaseId" })
                            @Html.HiddenFor(m => m.AppToken)
                            @Html.HiddenFor(m => m.IsUpdateMaterialPurchase, htmlAttributes: new { @id = "IsUpdateMaterialPurchase" })
                            @Html.HiddenFor(m => m.PurchaseLine, htmlAttributes: new { @id = "PurchaseLine" })
                            @Html.HiddenFor(m => m.SupplyStateId, htmlAttributes: new { @id = "SupplyStateId" })
                            @Html.HiddenFor(m => m.PartyId, htmlAttributes: new { @id = "PartyId" })
                            @Html.HiddenFor(m => m.PurchaseAmount, htmlAttributes: new { @id = "PurchaseAmount" })
                            <div class="heading">
                                <h4>
                                    Purchase Material Detail
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Office<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(m => m.OfficeId, new SelectList(Model.OfficeLists, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Invoice Number<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.InvoiceNo, htmlAttributes: new { @placeholder = "Enter Invoice No", @id = "InvoiceNo", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Party<span class="mandatory">*</span></label>
                                    <input type="text" id="SearchParty" name="SearchParty" placeholder="Search Party" class="form-control" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label> Purchase Ref<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Purchase_Ref, htmlAttributes: new { @placeholder = "Purchase Number", @id = "Purchase_Ref", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Date<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.TransactionDate, htmlAttributes: new { @id = "TransactionDate", @placeholder = "dd/mm/yyyy", @class = "form-control clsDate" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>State<span class="mandatory">*</span></label>
                                    <select id="StateId" name="StateId" class="form-control">
                                        <option value="0">Select State</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <div class="styled-input">
                                    <div class="heading">
                                        <h4>
                                            Add/Update Material Purchase
                                        </h4>
                                    </div>
                                    <br />
                                </div>
                                <div class="styled-input">
                                    <div class="col-md-2 form-group">
                                        <label>Item<span class="mandatory">*</span></label>
                                        <input type="text" id="ItemSearch" name="ItemSearch" placeholder="Search Item" class="form-control" />
                                        <input type="hidden" id="Item_Id" name="Item_Id" value="" />
                                        @*@Html.DropDownList("Item_Id", new SelectList(Model.Item_Lists, "Value", "Text"), htmlAttributes: new { @Item_Id = "Item_Id", @class = "form-control" })*@
                                        <input type="hidden" id="hdnIs_SameState" name="hdnIs_SameState" value="" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>HSN/SAC</label>
                                        @Html.TextBox("Hsn_Sac", "", htmlAttributes: new { @placeholder = "Hsn_Sac", @id = "Hsn_Sac", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Quantity<span class="mandatory">*</span></label>
                                        @Html.TextBox("Quantity", "", htmlAttributes: new { @placeholder = "Quantity", @id = "Quantity", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Unit<span class="mandatory">*</span></label>
                                        @Html.DropDownList("Unit_Id", new SelectList(Model.UnitLists, "Value", "Text"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Rate<span class="mandatory">*</span></label>
                                        @Html.TextBox("Rate", "", htmlAttributes: new { @placeholder = "Rate", @id = "Rate", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Amount</label>
                                        @Html.TextBox("Amount", "", htmlAttributes: new { @placeholder = "Amount", @id = "Amount", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Discount-1</label>
                                        @Html.TextBox("Discount_1", "0", htmlAttributes: new { @placeholder = "DISC 1 (%)", @id = "Discount_1", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Discount-2</label>
                                        @Html.TextBox("Discount_2", "0", htmlAttributes: new { @placeholder = "DISC 2 (%)", @id = "Discount_2", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Taxable</label>
                                        @Html.TextBox("Taxable_Amount", "", htmlAttributes: new { @placeholder = "Taxable Amount", @id = "Taxable_Amount", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>GST (%)</label>
                                        @Html.TextBox("GST", "", htmlAttributes: new { @placeholder = "GST (%)", @id = "GST", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>CGST</label>
                                        @Html.TextBox("CGST", "", htmlAttributes: new { @placeholder = "CGST", @id = "CGST", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>SGST</label>
                                        @Html.TextBox("SGST", "", htmlAttributes: new { @placeholder = "SGST", @id = "SGST", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>IGST</label>
                                        @Html.TextBox("IGST", "", htmlAttributes: new { @placeholder = "IGST", @id = "IGST", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Total</label>
                                        @Html.TextBox("Total", "", htmlAttributes: new { @placeholder = "Total", @id = "Total", @class = "form-control", @readonly = "readonly" })
                                        <input type="hidden" id="hdnTotalAmount" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Action</label>
                                        <br />
                                        <a id="btnAdd" name="btnAdd" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                        <a id="btnReset" name="btnReset" class="btn btn-primary"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="styled-input">
                                    <label id="lblTotalAmount">Total : 0.00</label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="table-responsive">
                                    <table id="tblMaterialPurchase" class="table table-striped" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="tbl-heading">Action</th>
                                                <th class="tbl-heading">Item</th>
                                                <th class="tbl-heading">H/S</th>
                                                <th class="tbl-heading">Qty</th>
                                                <th class="tbl-heading">Unit</th>
                                                <th class="tbl-heading">Rate</th>
                                                <th class="tbl-heading">Amount</th>
                                                <th class="tbl-heading">D1(%)</th>
                                                <th class="tbl-heading">D2(%)</th>
                                                <th class="tbl-heading">T-Amount</th>
                                                <th class="tbl-heading">GST(%)</th>
                                                <th class="tbl-heading">CGST</th>
                                                <th class="tbl-heading">SGST</th>
                                                <th class="tbl-heading">IGST</th>
                                                <th class="tbl-heading">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyid"></tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-8"></div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="button" name="btnResetForm" id="btnResetForm" class="btncustome">Reset</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <input type="hidden" id="hdnRowId" name="hdnRowId" value="" />
                                    <input type="hidden" id="hdnEditRow" name="hdnEditRow" value="" />
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div style="display:none" id="divDeleteMatrial">
                                    <button type="button" name="btnDelete" id="btnDelete" class="btncustome pull-right">Delete</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="blank-page">
                    <div id="listGrid"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        IMSMaterialPurchase.AppToken = '@Model.AppToken';
        IMSMaterialPurchase.materialPurchase();
    });
</script>