@model IMS.Models.ViewModel.MaterialSales
@{
    ViewBag.Title = "Material Sales";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}

@{
    var AppToken = Convert.ToString(@Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-shopping-cart"></i>
                <span>Material Sales</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <div class="heading">
                            <h4>
                                Search
                            </h4>
                        </div>
                        <div class="col-md-12">
                            <p style="color: red;display:none" id="pMsgSearch"></p>
                        </div>
                        <br />
                        <div class="styled-input">
                            <div class="col-md-3 form-group">
                                <label>Party</label>
                                @Html.DropDownList("drpParty", new SelectList(Model.PartyLists, "Value", "Text"), htmlAttributes: new { @id = "drpParty", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Invoice<span class="mandatory">*</span></label>
                            <select id="drpInvoice" name="drpInvoice" class="form-control"></select>
                        </div>
                        <div class="col-md-1 form-group pull-left">
                            <button type="button" style="margin-top: 26px;" name="btnSearch" id="btnSearch" class="btncustome pull-right">Search</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" style="margin-top: 26px;" name="btnPrint" id="btnPrint" class="btncustome pull-right">Print</button>
                        </div>

                        <div class="clearfix"></div>
                        @using (Html.BeginForm("ManageMateriaSales", "Material", FormMethod.Post, new { @id = "MaterialSales" }))
                        {
                            @Html.HiddenFor(m => m.SaleId, htmlAttributes: new { @id = "SaleId" })
                            @Html.HiddenFor(m => m.AppToken)
                            @Html.HiddenFor(m => m.IsUpdateMaterialSales, htmlAttributes: new { @id = "IsUpdateMaterialSales", @value = "0" })
                            @Html.HiddenFor(m => m.SaleLine, htmlAttributes: new { @id = "SaleLine" })
                            @Html.HiddenFor(m => m.SupplyStateId, htmlAttributes: new { @id = "SupplyStateId" })
                            @Html.HiddenFor(m => m.PartyId, htmlAttributes: new { @id = "PartyId" })
                            @Html.HiddenFor(m => m.POId, htmlAttributes: new { @id = "POId" })
                            @Html.HiddenFor(m => m.SaleAmount, htmlAttributes: new { @id = "SaleAmount" })
                            <div class="heading">
                                <h4>
                                    Material Sales Detail
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Office<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(m => m.OfficeId, new SelectList(Model.OfficeLists, "Value", "Text"), htmlAttributes: new { @id = "OfficeId", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Invoice Number@*<span class="mandatory">*</span>*@</label>
                                    @Html.TextBoxFor(m => m.InvoiceNo, htmlAttributes: new { @placeholder = "Enter Invoice No", @id = "InvoiceNo", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Party<span class="mandatory">*</span></label>
                                    <select id="drpPartyId" name="drpPartyId" class="form-control">
                                        @foreach (var item in Model.PartyLists.AsEnumerable())
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>State<span class="mandatory">*</span></label>
                                    <span id="spanOrderNo" style="margin-left: 15px;font-size: 11px;color: red;">Please select party first</span>
                                    <select id="StateId" name="StateId" class="form-control"></select>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Order No</label>
                                    <span id="spanOrderNo" style="margin-left: 15px;font-size: 11px;color: red;">Please select party first</span>
                                    <select id="drpOrderNo" name="drpOrderNo" class="form-control"></select>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Date<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.TransactionDate, htmlAttributes: new { @id = "TransactionDate", @placeholder = "dd/mm/yyyy", @class = "form-control clsDate" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Remarks</label>
                                    @Html.TextBoxFor(m => m.Remarks, htmlAttributes: new { @placeholder = "Enter Remarks", @id = "Remarks", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Marka</label>
                                    @Html.TextBoxFor(m => m.Marka, htmlAttributes: new { @placeholder = "Enter Marka", @id = "Marka", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Transporter</label>
                                    @Html.TextBoxFor(m => m.Transporter, htmlAttributes: new { @placeholder = "Enter Transporter", @id = "Transporter", @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="heading">
                                <h4>
                                    Add/Update Material Sale
                                </h4>
                            </div>
                            <br />
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-2 form-group">
                                    <label>Item<span class="mandatory">*</span></label>
                                    @Html.DropDownList("Item_Id", new SelectList(Model.Item_Lists, "Value", "Text"), htmlAttributes: new { @Item_Id = "Item_Id", @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>HSN/SAC</label>
                                    @Html.TextBox("Hsn_Sac", "", htmlAttributes: new { @placeholder = "Hsn_Sac", @id = "Hsn_Sac", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Available Quantity</label>
                                    @Html.TextBox("AvailableQuantity", "", htmlAttributes: new { @placeholder = "Available Quantity", @id = "AvailableQuantity", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Quantity<span class="mandatory">*</span></label>
                                    @Html.TextBox("Quantity", "", htmlAttributes: new { @placeholder = "Quantity", @id = "Quantity", @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Unit<span class="mandatory">*</span></label>
                                    @Html.DropDownList("Unit_Id", new SelectList(Model.UnitLists, "Value", "Text"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Rate<span class="mandatory">*</span></label>
                                    @Html.TextBox("Rate", "", htmlAttributes: new { @placeholder = "Rate", @id = "Rate", @class = "form-control" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Amount</label>
                                    @Html.TextBox("Amount", "", htmlAttributes: new { @placeholder = "Amount", @id = "Amount", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Discount-1</label>
                                    @Html.TextBox("Discount_1", "0", htmlAttributes: new { @placeholder = "DISC 1 (%)", @id = "Discount_1", @class = "form-control", @value = "0" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Discount-2</label>
                                    @Html.TextBox("Discount_2", "0", htmlAttributes: new { @placeholder = "DISC 2 (%)", @id = "Discount_2", @class = "form-control", @value = "0" })
                                </div>
                                <div class="col-md-2 form-group" hidden="hidden">
                                    <label>Discount Amount</label>
                                    @Html.TextBox("Discount_1_Amount", "0", htmlAttributes: new { @placeholder = "DISC 2 (%)", @id = "Discount_1_Amount", @class = "form-control", @value = "0" })
                                </div>
                                <div class="col-md-2 form-group" hidden="hidden">
                                    <label>Discount Amount</label>
                                    @Html.TextBox("Discount_2_Amount", "0", htmlAttributes: new { @placeholder = "DISC 2 (%)", @id = "Discount_2_Amount", @class = "form-control", @value = "0" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Taxable</label>
                                    @Html.TextBox("Taxable_Amount", "", htmlAttributes: new { @placeholder = "Taxable Amount", @id = "Taxable_Amount", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>GST</label>
                                    @Html.TextBox("GST", "", htmlAttributes: new { @placeholder = "GST (%)", @id = "GST", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>CGST</label>
                                    @Html.TextBox("CGST", "", htmlAttributes: new { @placeholder = "CGST", @id = "CGST", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>SGST</label>
                                    @Html.TextBox("SGST", "", htmlAttributes: new { @placeholder = "SGST", @id = "SGST", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>IGST</label>
                                    @Html.TextBox("IGST", "", htmlAttributes: new { @placeholder = "IGST", @id = "IGST", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Total</label>
                                    @Html.TextBox("Total", "", htmlAttributes: new { @placeholder = "Total", @id = "Total", @class = "form-control", @readonly = "readonly" })
                                    <input type="hidden" id="hdnTotalAmount" />
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Action</label>
                                    <br />
                                    <a id="btnAdd" name="btnAdd" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                    <a id="btnReset" name="btnReset" class="btn btn-primary"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <br />
                                <label id="lblTotalAmount">Total : 0.00</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table id="tblMaterialSales" class="table table table-striped" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="tbl-heading">Action</th>
                                            <th class="tbl-heading">Item</th>
                                            <th class="tbl-heading">Order Date</th>
                                            <th class="tbl-heading">H/S</th>
                                            <th class="tbl-heading">O-Qty</th>
                                            <th class="tbl-heading">A-Qty</th>
                                            <th class="tbl-heading">Unit</th>
                                            <th class="tbl-heading">Rate</th>
                                            <th class="tbl-heading">Amount</th>
                                            <th class="tbl-heading">D1(%)</th>
                                            <th class="tbl-heading">D2(%)</th>
                                            <th class="tbl-heading">T-Amount</th>
                                            <th class="tbl-heading">GST(%)</th>
                                            <th class="tbl-heading">CGST</th>
                                            <th class="tbl-heading">SGST</th>
                                            <th class="tbl-heading">IGST</th>
                                            <th class="tbl-heading">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyid"></tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                            <div class="col-md-8"></div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="button" name="btnResetForm" id="btnResetForm" class="btncustome">Reset</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <input type="hidden" id="hdnAvailable_Qty" name="hdnAvailable_Qty" value="" />
                                    <input type="hidden" id="hdnEditRow" name="hdnEditRow" value="" />
                                    <input type="hidden" id="hdnIs_SameState" value="" name="hdnIs_SameState" />
                                    <input type="hidden" id="hdnItemType" value="" name="hdnItemType" />
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div style="display:none" id="divDeleteMatrial">
                                    <button type="button" name="btnDelete" id="btnDelete" class="btncustome">Delete</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="blank-page">
                    <div id="listGrid"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        $("#drpParty").select2();
        $("#drpInvoice").select2();
        $("#TransactionDate").val("");
        $("#TransactionDate").attr('placeholder', 'dd/mm/yyyy');
        $("#drpOrderNo").append($("<option></option>").val("0").html("Select Order"));
        $("#drpOrderNo").attr('disabled', 'disabled');
        $("#StateId").append($("<option></option>").val("0").html("Select State"));
        $("#StateId").attr('disabled', 'disabled');

        $("body").on("click", "#btnSubmit", function () {
            let PurchaseLineValues = [];
            let isValid = true;
            let msg = "";

            if (parseInt($("#OfficeId").val()) === 0) {
                isValid = false;
                msg = "Please fill all mandatory fields!!!";
            } else if (parseInt($("#drpPartyId").val()) === 0) {
                isValid = false;
                msg = "Please fill all mandatory fields!!!";
            } else if ($("#Purchase_Ref").val() ==="") {
                isValid = false;
                msg = "Please fill all mandatory fields!!!";
            } else if ($("#TransactionDate").val() === "") {
                isValid = false;
                msg = "Please fill all mandatory fields!!!";
            } else if (parseInt($("#StateId").val()) === 0) {
                isValid = false;
                msg = "Please fill all mandatory fields!!!";
            }
            if (isValid) {
                if ($("#tblMaterialSales TBODY TR").length > 0) {
                    $("#tblMaterialSales TBODY TR [id^='hdnItemId_']").each(function () {

                        let oMapping = {};
                        let index = parseInt($("#" + $(this).context.id).val());
                        let availableQty = parseInt($("#lblAvailable_Qty_" + index).text());
                        let qty = parseInt($("#txtOrder_Qty_" + index).val());
                        let poLineId = parseInt($("#hdnPOLineId_" + index).val());
                        let isItemType = parseInt($("#hdnItemTypeGrid_" + index).val());
                        let itemname = $("#lblItem_" + index)[0].innerText
                        if (poLineId === 0) {
                            if (isItemType === 16) {
                                isValid = true;
                            } else {
                                if (qty !== NaN && qty > 0 && qty > availableQty) {
                                    msg = "Please check the quantity for Item: "+itemname +"!!!";
                                    isValid = false;
                                    return false;
                                }
                            }
                        } else {
                            if (isItemType === 16) {
                                isValid = true;
                            } else {
                                if (qty !== NaN && qty > 0 && qty > availableQty) {
                                    msg = "Please check the quantity for Item: " + itemname + "!!!";
                                    isValid = false;
                                    return false;
                                }
                            }
                        }
                        if (isValid) {

                            oMapping.Line_Id = $("#hdnLineId_" + index).val();
                            oMapping.Unit_Id = $("#lblUnit_" + index).attr("data-Unit_Id");
                            oMapping.UnitTitle = $("#lblUnit_" + index).text();
                            oMapping.Available_Qty = availableQty;
                            oMapping.Item_Id = $("#hdnItemId_" + index).val();
                            oMapping.ItemTitle = $("#lblItem_" + index).text();
                            oMapping.HSN_SAC = $("#lblHSN_SAC_" + index).text();
                            oMapping.Quantity = $("#txtOrder_Qty_" + index).val();
                            oMapping.Rate = $("#txtRate_" + index).val();
                            oMapping.Amount = $("#lblAmount_" + index).text();
                            oMapping.Discount_1 = $("#txtDiscount1_" + index).val();
                            oMapping.Discount_2 = $("#txtDiscount2_" + index).val();
                            oMapping.Taxable_Amount = $("#lblTaxable_Amount_" + index).text();
                            oMapping.Discount_1_Amount = $("#hdnDiscount_1_Amt_" + index).val();
                            oMapping.Discount_2_Amount = $("#hdnDiscount_2_Amt_" + index).val();
                            oMapping.GST = $("#lblGST_" + index).text();
                            oMapping.CGST = $("#lblCGST_" + index).text();
                            oMapping.SGST = $("#lblSGST_" + index).text();
                            oMapping.IGST = $("#lblIGST_" + index).text();
                            oMapping.Total_Amount = $("#lblTotal_Amount_Row_" + index).text();
                            oMapping.PO_Id = $("#hdnPOId_" + index).val();
                            oMapping.POLine_Id = $("#hdnPOLineId_" + index).val();
                            oMapping.IsUpdate = $("#IsUpdateMaterialSales").val();
                            PurchaseLineValues.push(oMapping);
                            isValid = true;
                        }
                    });
                    $("#SaleLine").val(JSON.stringify(PurchaseLineValues));
                } else {
                    isValid = false;
                    msg = "Please at least one sale material!!!";
                }
            }


            if (isValid) {
                return true;
            } else {
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
        });

        $("#btnReset").click(function (e) {
            e.preventDefault();
            $("#Item_Id").val($("#Item_Id option:first").val());
            $('#Item_Id').select2().trigger('change');
            $("#Hsn_Sac").val("");
            $("#Quantity").val("");
            $("#Unit_Id").val("");
            $("#Rate").val("");
            $("#Amount").val("");
            $("#Discount_1").val("0");
            $("#Discount_2").val("0");
            $("#Taxable_Amount").val("");
            $("#GST").val("0");
            $("#CGST").val("");
            $("#SGST").val("");
            $("#IGST").val("");
            $("#Total").val("");
            $("#hdnTotalAmount").val("");
            $("#Discount_1_Amount").val("");
            $("#Discount_2_Amount").val("");

        });

        $("#btnAdd").click(function (e) {
            e.preventDefault();
            let bAdded = true;
            let msg = "";
            let amount = 0.0;

            if (parseInt($("#Item_Id").val()) === 0) {
                msg = "Please select item.";
                bAdded = false;
            } else if ($("#Quantity").val() === "") {
                msg = "Please enter quantity.";
                bAdded = false;
            } else if (parseInt($("#Unit_Id").val()) === 0) {
                msg = "Please select unit.";
                bAdded = false;
            } else if ($("#Rate").val() === "") {
                msg = "Please enter rate.";
                bAdded = false;
            }
            else if (parseInt($("#hdnItemType").val()) === 15 && parseInt($("#Quantity").val()) > parseInt($("#AvailableQuantity").val())) {
                msg = "Please correct quantity that must not be greater than Available Quantity!!!";
                bAdded = false;
            }

            //Reference the Party and Location ddl.
            if (bAdded) {
                if ($("#tblMaterialSales TBODY TR").length > 0) {
                    $("#tblMaterialSales TBODY TR [id^='hdnItemId_']").each(function () {
                        let itemId = parseInt($("#" + $(this).context.id).val());
                        if (parseInt($("#Item_Id").val()) === itemId) {
                            msg = "Material is already mapped!!!";
                            bAdded = false;
                        }
                    });
                }
            }

            if (bAdded) {
                //Get the reference of the Table's TBODY element.
                var tBody = $("#tblMaterialSales > TBODY")[0];
                //Add Row.
                var row = tBody.insertRow(-1);
                let itemId = $("#Item_Id").val();
                let itemType = $("#hdnItemType").val();
                let htmlEditBtn = `<a class="btn btn-danger" style="padding: 2px 5px 2px 5px; margin-bottom:0px" onclick="Remove(this);" href="javascript:void(0)"><i class="fa fa-trash"></i></a>`;
                cell = $(row.insertCell(-1));
                cell.append(htmlEditBtn);
                //Add Item cell.
                let lblItem = `<label id="lblItem_${itemId}">${$("#Item_Id :selected").text()}</label>
                              <input type="hidden" id="hdnItemId_${itemId}" name="hdnItemId_${itemId}" value="${itemId}" />
                              <input type="hidden" id="hdnLineId_${itemId}" name="hdnLineId_${itemId}" value="${0}" />
                              <input type="hidden" id="hdnPOLineId_${itemId}" name="hdnPOLineId_${itemId}" value="${0}" />
                              <input type="hidden" id="hdnPOId_${itemId}" name="hdnLineId_${itemId}" value="${0}" />
                              <input type="hidden" id="hdnItemTypeGrid_${itemId}" name="hdnItemTypeGrid_${itemId}" value="${itemType}" />
                              <input type="hidden" id="hdnIs_SameStateGrid_${itemId}" name="hdnIs_SameStateGrid_${itemId}" value="${$("#hdnIs_SameState").val()}" />
                              <input type="hidden" id="hdnDiscount_1_Amt_${itemId}" name="hdnDiscount_1_Amt_${itemId}" value="${$("#Discount_1_Amount").val()}" />
                              <input type="hidden" id="hdnDiscount_2_Amt_${itemId}" name="hdnDiscount_2_Amt_${itemId}" value="${$("#Discount_2_Amount").val()}" />`;
                cell = $(row.insertCell(-1));
                cell.append(lblItem);
                //Add Order Date.
                let lblOrderDate = `<label id="lblOrderDate_${itemId}">${"N/A"}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblOrderDate);
                //Add Hsn_Sac cell.
                let lblHSN_SAC = `<label id="lblHSN_SAC_${itemId}">${$("#Hsn_Sac").val()}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblHSN_SAC);
                //Add Quantity cell.
                let htmlOrder_Qty = `<input type="text" id="txtOrder_Qty_${itemId}" disabled="disabled" style="background-color: ${parseInt($("#Quantity").val()) <= parseInt($("#AvailableQuantity").val()) ? 'lightgreen' : 'indianred'};width:40px;" style=" width: 60px;" data-index="${itemId}"  name="txtOrder_Qty_${itemId}" onchange="Calculate(this);" value="${$("#Quantity").val()}"  tp-type="numeric" />`;
                cell = $(row.insertCell(-1));
                cell.append(htmlOrder_Qty);
                //Add Available_Qty cell.
                let lblAvailable_Qty = `<label id="lblAvailable_Qty_${itemId}">${$("#AvailableQuantity").val()}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblAvailable_Qty);
                //Add Unit cell.
                let lblUnit = `<label id="lblUnit_${itemId}" data-Unit_Id="${$("#Unit_Id").val()}" data-index="${itemId}" >${$("#Unit_Id :selected").text()}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblUnit);
                //Add Rate cell.
                let htmlRate = `<input type="text" id="txtRate_${itemId}" data-index="${itemId}" name="txtRate_${itemId}" onchange="Calculate(this);" value="${$("#Rate").val()}"  tp-type="numeric" style="width:40px;"/>`;
                cell = $(row.insertCell(-1));
                cell.append(htmlRate);
                //Add Amount cell.
                let lblAmount = `<label id="lblAmount_${itemId}">${$("#Amount").val()}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblAmount);
                //Add Discount_1 cell.
                let htmlDiscount1 = `<input type="text" id="txtDiscount1_${itemId}" data-index="${itemId}" name="txtDiscount1_${itemId}" onchange="Calculate(this);" value="${$("#Discount_1").val()}"  tp-type="numeric" style="width:30px;"/>`;
                cell = $(row.insertCell(-1));
                cell.append(htmlDiscount1);
                //Add Discount_2 cell.
                let htmlDiscount2 = `<input type="text" id="txtDiscount2_${itemId}" data-index="${itemId}" name="txtDiscount2_${itemId}" onchange="Calculate(this);" value="${$("#Discount_2").val()}"  tp-type="numeric" style="width:30px;"/>`;
                cell = $(row.insertCell(-1));
                cell.append(htmlDiscount2);
                //Add Taxable_Amount cell.
                let lblTaxable_Amount = `<label id="lblTaxable_Amount_${itemId}">${$("#Taxable_Amount").val()}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblTaxable_Amount);
                //Add GST cell.
                let lblGST = `<label id="lblGST_${itemId}">${$("#GST").val()}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblGST);
                //Add CGST cell.
                let lblCGST = `<label id="lblCGST_${itemId}">${$("#CGST").val()}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblCGST);
                //Add SGST cell.
                let lblSGST = `<label id="lblSGST_${itemId}">${$("#SGST").val()}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblSGST);
                //Add IGST cell.
                let lblIGST = `<label id="lblIGST_${itemId}">${$("#IGST").val()}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblIGST);
                //Add Total_Amount cell.
                let lblTotal_Amount = `<label id="lblTotal_Amount_Row_${itemId}">${$("#hdnTotalAmount").val()}</label>`;
                cell = $(row.insertCell(-1));
                cell.append(lblTotal_Amount);

                //Set Default
                $("#Item_Id").val($("#Item_Id option:first").val());
                $('#Item_Id').select2().trigger('change');
                $("#Hsn_Sac").val("");
                $("#Quantity").val("");
                $("#Unit_Id").val($("#Unit_Id option:first").val());
                $("#Rate").val("");
                $("#Amount").val("");
                $("#Discount_1").val("0");
                $("#Discount_2").val("0");
                $("#Taxable_Amount").val("");
                $("#Discount_1_Amount").val("");
                $("#Discount_2_Amount").val("");
                $("#AvailableQuantity").val("");
                $("#GST").val("0");
                $("#CGST").val("");
                $("#SGST").val("");
                $("#IGST").val("");
                $("#Total").val("");
                $("#hdnTotalAmount").val("");
                $("#hdnRowId").val("");

                $("[id^='lblTotal_Amount_Row_']").each(function () {
                    amount += parseFloat($("#"+this.id).text());
                });

                $("td").each(function () {
                    $(this).addClass("tbl-css");
                });
                $("#PurchaseAmount").val(amount.toFixed(2));
                $("#lblTotalAmount").text("Total : " + amount.toFixed(2));
            }

            if (bAdded) {
                return true;
            } else {
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
        });

        $("#OfficeId").change(function () {
           let OfficeId = parseInt($('#OfficeId').val());
            ResetFromOfficeChange();
            if (OfficeId > 0) {
                IMSC.ajaxCall("GET", "/Material/GetStateSales?PartyId=" + 0 + "&OfficeId=" + OfficeId + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                    var result = JSON.parse(d);
                    if (result !== null) {
                       if (result.Table.length > 0) {
                           $.each(result.Table, function (index, value) {
                                $("#drpPartyId").append($("<option></option>").val(value.Party_Id).html(value.Title));
                            });
                        } else {
                          // $("#drpPartyId").append($("<option></option>").val("0").html("--Select--"));
                        }
                    }
                });
            }
        });

        $("#Item_Id").change(function () {
            let Item_Id = parseInt($("#Item_Id").val());
            let Office_Id = parseInt($("#OfficeId").val());
            let P_State_Id = parseInt($("#SupplyStateId").val());
            if (Item_Id >0) {
                IMSC.ajaxCall("GET", "/Material/GetHSN_Detail?Item_Id=" + Item_Id + "&Office_Id=" + Office_Id + "&P_State_Id=" + P_State_Id + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                    var result = JSON.parse(d);
                    if (result[0].HSN_SAC !== null && result[0].GST !== null && result[0].Is_SameState !== null) {
                        $("#Hsn_Sac").val(result[0].HSN_SAC);
                        $("#GST").val(result[0].GST);
                        $("#hdnIs_SameState").val(result[0].Is_SameState);
                        $("#hdnItemType").val(result[0].ItemNature);
                        $("#AvailableQuantity").val(result[0].Available_Qty);
                        $("#Unit_Id").val(result[0].UnitId);
                        $("#GST").change();
                    } else {
                        $("#Hsn_Sac").val("");
                        $("#GST").val("0");
                        $("#hdnIs_SameState").val("0");
                        $("#GST").change();
                    }
                });
            }
        });

        $("#Quantity,#Rate,#Discount_1,#Discount_2,#GST").change(function () {
            CalculateAmount();
        });

        function ResetFromOfficeChange()
           {

               $("#drpPartyId").empty();
               $("#drpPartyId").append($("<option></option>").val("0").html("--Select--"));
               $("#drpOrderNo").empty();
               $("#drpOrderNo").append($("<option></option>").val("0").html("--Select--"));
               $("#StateId").empty();
               $("#StateId").append($("<option></option>").val("0").html("--Select--"));
               $("#tbodyid").empty();
               $("#lblTotalAmount").text("Total : 0.00");
               $("#IsUpdateMaterialSales").val(0);
               $("#SaleAmount").val("0");
            }

        $("#drpPartyId").change(function () {
            let PartyId = parseInt($('#drpPartyId').val());
            let OfficeId = parseInt($('#OfficeId').val());
            $("#PartyId").val(PartyId);
            if (PartyId > 0) {
                IMSC.ajaxCall("GET", "/Material/GetStateSales?PartyId=" + PartyId + "&OfficeId=" + OfficeId + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                    var result = JSON.parse(d);
                    if (result !== null) {
                        $("#drpOrderNo").empty();
                        $("#StateId").empty();
                        if (result.Table.length > 0) {
                            $("#StateId").removeAttr('disabled');
                            $("#StateId").append($("<option></option>").val("0").html("Select State"));
                            $.each(result.Table, function (index, value) {
                                $("#StateId").append($("<option></option>").val(value.State_Id).html(value.StateName));
                            });
                        } else {
                            $("#StateId").append($("<option></option>").val("0").html("Select State"));
                        }
                        if (result.Table1.length > 0) {
                            $("#drpOrderNo").removeAttr('disabled');
                            $("#drpOrderNo").append($("<option></option>").val("0").html("Select Order"));
                            $.each(result.Table1, function (index, value) {
                                $("#drpOrderNo").append($("<option></option>").val(value.PO_Id).html(value.PO_No));
                            });
                        } else {
                            $("#drpOrderNo").append($("<option></option>").val("0").html("Select Order"));
                        }
                        if (result.Table2 !== undefined && result.Table2.length > 0) {
                            $("#tbodyid").empty();
                            BindGrid(result.Table2, 0, 1);
                        }
                    }
                });
            } else {
                $("#drpOrderNo").empty();
                $("#drpOrderNo").append($("<option></option>").val(value.PO_Id).html(value.PO_No));
                $("#StateId").empty();
                $("#StateId").append($("<option></option>").val("0").html("Select State"));
                $("#tbodyid").empty();
                $("#lblTotalAmount").text("Total : 0.00");
                $("#IsUpdateMaterialSales").val(0);
                $("#SaleAmount").val("0");
            }
        });

        $("#StateId").change(function () {
            $("#SupplyStateId").val(parseInt($(this).val()));
        });

        $("#drpParty").change(function () {
            let Party_Id = parseInt($('#drpParty').val());
            $('#PartyId').val(Party_Id);
            IMSC.ajaxCall("GET", "/Material/GetInvoiceSales?Party_Id=" + Party_Id + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                     var result = JSON.parse(d);
                     $("#drpInvoice").empty();
                     $("#drpInvoice").append($("<option></option>").val("0").html("Select Invoice"));
                    if (result.length > 0) {
                        $.each(result, function (index, value) {
                            $("#drpInvoice").append($("<option></option>").val(value.Sale_Id).html(value.Invoice_No));
                        });
                    }
            });
        }).change();

        $("#drpInvoice").change(function () {
            $("#SaleId").val(parseInt($("#drpInvoice").val() !== "" ? $("#drpInvoice").val():"0"));
        });

        $("#drpOrderNo").change(function () {
            let isValid = true;
            $("#POId").val(parseInt($("#drpOrderNo").val()));
            var POId = parseInt($("#drpOrderNo").val());
            var Office_Id = parseInt($("#OfficeId").val());
            var SupplyState_Id = parseInt($("#SupplyStateId").val());
            if (POId > 0) {
                IMSC.ajaxCall("GET", "/Material/GetPOData?POId=" + POId + "&Office_Id=" + Office_Id + "&SupplyState_Id=" + SupplyState_Id+"&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                    var result = JSON.parse(d);

                    if (result.length > 0) {
                        $("#SaleAmount").val("0");
                        //$(result).each(function (index, value) {
                        //    $("[id^='hdnItemId_']").each(function () {
                        //        if (parseInt(value.Item_Id) === parseInt($("#" + this.id).val())) {
                        //            isValid = false;
                        //            return false;
                        //        }
                        //    });
                        //});

                        if (isValid) {
                            $("#tbodyid").empty();
                            BindGrid(result, 0, 1);
                            $("td").each(function () {
                                $(this).addClass("tbl-css");
                            });
                        } else {
                            $('#alertModal').modal('show');
                            $('#msg').html("One of the Item is already mapped in the grid. Please remove that first !!!");
                        }
                    }
                 });
            } else {
                $("#tbodyid").empty();
                $("#SaleAmount").val("0");
                $("#divDeleteMatrial").css('display', 'none');
                $("#lblTotalAmount").text("Total : 0.00");
            }
        });

        $("#btnPrint").click(function (e) {
            let SaleId = parseInt($("#SaleId").val());
            if (SaleId == null || SaleId == 0) {
                $('#alertModal').modal('show');
                $('#msg').html("Please select inovice.");
                return;
            }
            window.open("/Reports/ReportViewer.aspx?ReportId=1&SaleId=" + SaleId +"");

        });

        $("#btnSearch").click(function (e) {
            e.preventDefault();
            var SaleId = parseInt($("#SaleId").val());
            $("#SaleId").val(SaleId);
            if (SaleId > 0) {
                IMSC.ajaxCall("GET", "/Material/GetMatrialSales?SaleId=" + SaleId + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                var res = JSON.parse(d);
                if (res !== null) {
                    var result = res.Table;
                    $("#OfficeId").val(result[0].Office_Id);
                    $("#InvoiceNo").val(result[0].Invoice_No);
                    $("#drpPartyId").val(result[0].Party_Id);
                    $('#PartyId').val(result[0].Party_Id);
                    $("#StateId").empty();
                    $("#StateId").append($("<option></option>").val(0).html("Select State"));
                    $.each(res.Table1, function (index, value) {
                        $("#StateId").append($("<option></option>").val(value.State_Id).html(value.StateName));
                    });
                    $("#StateId").val(result[0].SupplyState_Id);
                    $("#SupplyStateId").val(result[0].SupplyState_Id);

                    if (res.Table.length>0) {
                        $("#drpOrderNo").append($("<option></option>").val("0").html("Select Order"));
                        $.each(res.Table, function (index, value) {
                            $("#drpOrderNo").append($("<option></option>").val(value.PO_Id).html(value.PO_No));
                        });
                        $("#drpOrderNo").val(result[0].PO_Id);
                        $("#POId").val(result[0].PO_Id);
                    }

                    $("#TransactionDate").val(result[0].Transaction_Date);
                    $("#Remarks").val(result[0].Remarks);
                    $("#Transporter").val(result[0].Transporter);
                    $("#Marka").val(result[0].Marka);
                    $("#tbodyid").empty();
                    $("#SaleAmount").val("0");
                    BindGrid(result, 1,0);
                    $("td").each(function () {
                        $(this).addClass("tbl-css");
                    });
                    $("#drpOrderNo").attr('disabled', 'disabled');
                }
            });
            } else {
                $('#alertModal').modal('show');
                $('#msg').html("Please select inovice.");
            }
        });

        $("#btnResetForm").click(function (e) {
            e.preventDefault();
            $("#drpParty").val($("#drpParty option:first").val());
            $('#drpParty').select2().trigger('change');
            $("#drpInvoice").empty();
            $('#drpInvoice').select2().trigger('change');
            $("#drpOrderNo").empty();
            $("#SaleId").val(0);
            $("#IsUpdateMaterialSales").val(false);
            $("#SaleLine").val("");
            $("#SupplyStateId").val("");
            $("#PartyId").val("");
            $("#OfficeId").val($("#drpPartyId option:first").val());
            $("#InvoiceNo").val("");
            $("#drpPartyId").val($("#drpPartyId option:first").val());
            $("#Purchase_Ref").val("");
            $("#TransactionDate").val("");
            $("#Remarks").val("");
            $("#Marka").val("");
            $("#Transporter").val("");
            $("#StateId").empty();
            $("#Item_Id").val($("#Item_Id option:first").val());
            $('#Item_Id').select2().trigger('change');
            $("#Hsn_Sac").val("");
            $("#Quantity").val("");
            $("#Unit_Id").val($("#Unit_Id option:first").val());
            $('#Unit_Id').select2().trigger('change');
            $("#Rate").val("");
            $("#Amount").val("");
            $("#Discount_1").val("");
            $("#Discount_2").val("");
            $("#Taxable_Amount").val("");
            $("#GST").val("");
            $("#CGST").val("");
            $("#SGST").val("");
            $("#IGST").val("");
            $("#Total").val("");
            $("#hdnRowId").val("");
            $("#lblTotalAmount").text("Total : 0.00");
            $("#tblMaterialSales TBODY").empty();
            $("#divDeleteMatrial").css('display', 'none');
            $("#drpOrderNo").append($("<option></option>").val("0").html("Select Order"));
            $("#drpOrderNo").attr('disabled', 'disabled');
            $("#StateId").append($("<option></option>").val("0").html("Select State"));
            $("#StateId").attr('disabled', 'disabled');
        });

        $("#btnDelete").click(function () {
            let SaleId = parseInt($("#SaleId").val());
            if (SaleId > 0) {
                window.location.href = "/Material/DeleteMatrialSales?SaleId=" + SaleId + "&AppToken=" + '@Model.AppToken';
           }
        });
    });
    function CalculateAmount() {
        let bIsDiscount = false;
        let quantity = parseFloat($("#Quantity").val() !== "" ? $("#Quantity").val() : 0);
        let rate = parseFloat($("#Rate").val() !== "" ? $("#Rate").val() : 0);
        let amount = 0;
        let disAmu = 0;
        let gst = 0;
        let discount_1 = 0;
        let discount_2 = 0;
        let discount_1_Amt = 0;
        let discount_2_Amt = 0;
        let discountAmount = 0;
        let totalAmount = 0;
        if (quantity > 0 && rate > 0) {
            amount = quantity * rate;
            $("#Amount").val(amount.toFixed(2));
        }
        if (amount > 0) {
            discount_1 = parseFloat($("#Discount_1").val() !== "" ? $("#Discount_1").val() : 0);
            discount_2 = parseFloat($("#Discount_2").val() !== "" ? $("#Discount_2").val() : 0);
            if (discount_1 > 0 || discount_2 > 0) {
                bIsDiscount = true;
                //disAmu = amount * (discount_1 + discount_2) / 100;
                discount_1_Amt = amount * (discount_1) / 100;
                discount_2_Amt = amount * (discount_2) / 100;
                disAmu = discount_1_Amt + discount_2_Amt;

                $("#Discount_1_Amount").val(discount_1_Amt.toFixed(2));
                $("#Discount_2_Amount").val(discount_2_Amt.toFixed(2));

                discountAmount = amount - disAmu;
                gst = discountAmount * parseFloat($("#GST").val()) / 100;
            } else {
                bIsDiscount = false;
                gst = amount * parseFloat($("#GST").val()) / 100;
            }

            let is_SameState = $("#hdnIs_SameState").val() === "1" ? true : false;
            if (is_SameState) {
                $("#CGST").val(parseFloat(gst / 2).toFixed(2));
                $("#SGST").val(parseFloat(gst / 2).toFixed(2));
                $("#IGST").val(parseFloat(0).toFixed(2));

            } else {
                $("#CGST").val(parseFloat(0).toFixed(2));
                $("#SGST").val(parseFloat(0).toFixed(2));
                $("#IGST").val(parseFloat(gst).toFixed(2));
            }
            if (bIsDiscount) {
                totalAmount = discountAmount + gst;
                $("#Taxable_Amount").val(discountAmount.toFixed(2));
            } else {
                totalAmount = amount + gst;
                $("#Taxable_Amount").val(amount.toFixed(2));
            }
            $("#Total").val(totalAmount.toFixed(2));
            $("#hdnTotalAmount").val(totalAmount.toFixed(2));
        }
    }
    function Calculate(value) {
        $("#IsUpdateMaterialSales").val(1);
        let index = parseInt($('#' + value.id).attr('data-index'));
        let bIsDiscount = false;
        let quantity = parseFloat($("#txtOrder_Qty_" + index).val() !== "" ? $("#txtOrder_Qty_" + index).val() : 0);
        let aQuantity = parseFloat(parseInt($("#lblAvailable_Qty_" + index).text()));
        let poLineId = parseInt($("#hdnPOLineId_" + index).val());
        if (poLineId === 0) {
            setCaluValuew(index, bIsDiscount, quantity, poLineId);
        } else {
            if (quantity <= aQuantity) {
                setCaluValuew(index, bIsDiscount, quantity, poLineId);
            }
            else {
                $('#alertModal').modal('show');
                $('#msg').html("Please check available quantity!!!");
            }
        }
    }
    function setCaluValuew(index, bIsDiscount, quantity, poLineId)
    {

        let rate = parseFloat($("#txtRate_" + index).val() !== "" ? $("#txtRate_" + index).val() : 0);
        let amount = 0;
        let disAmu = 0;
        let gst = 0;
        let discount_1 = 0;
        let discount_2 = 0;
        let discount_1_amt = 0;
        let discount_2_amt = 0;
        let discountAmount = 0;
        let totalAmount = 0;
        let sumOfTotal = 0;
        if (quantity > 0 && rate > 0) {
            amount = quantity * rate;
            $("#lblAmount_" + index).text(amount);
        }
        if (amount > 0) {
            discount_1 = parseFloat($("#txtDiscount1_" + index).val() !== "" ? $("#txtDiscount1_" + index).val() : 0);
            discount_2 = parseFloat($("#txtDiscount2_" + index).val() !== "" ? $("#txtDiscount2_" + index).val() : 0);
            if (discount_1 > 0 || discount_2 > 0) {
                bIsDiscount = true;
                //disAmu = amount * (discount_1 + discount_2) / 100;
                discount_1_amt = amount * (discount_1) / 100;
                discount_2_amt = amount * (discount_2) / 100;
                disAmu = discount_1_amt + discount_2_amt;

                $("#hdnDiscount_1_Amt_" + index).val(discount_1_amt.toFixed(2));
                $("#hdnDiscount_2_Amt_" + index).val(discount_2_amt.toFixed(2));

                discountAmount = amount - disAmu;
                gst = discountAmount * parseFloat($("#lblGST_" + index).text()) / 100;
            } else {
                bIsDiscount = false;
                gst = amount * parseFloat($("#lblGST_" + index).text()) / 100;
            }

            let is_SameState = $("#hdnIs_SameStateGrid_" + index).val() === "1" ? true : false;
            if (is_SameState) {
                $("#lblCGST_" + index).text(parseFloat(gst / 2).toFixed(2));
                $("#lblSGST_" + index).text(parseFloat(gst / 2).toFixed(2));
                $("#lblIGST_" + index).text(parseFloat(0).toFixed(2));

            } else {
                $("#lblCGST_" + index).text(parseFloat(0).toFixed(2));
                $("#lblSGST_" + index).text(parseFloat(0).toFixed(2));
                $("#lblIGST_" + index).text(parseFloat(gst).toFixed(2));
            }
            if (bIsDiscount) {
                totalAmount = discountAmount + gst;
                $("#lblTaxable_Amount_" + index).text(discountAmount.toFixed(2));
            } else {
                totalAmount = amount + gst;
                $("#lblTaxable_Amount_" + index).text(amount.toFixed(2));
            }
            $("#lblTotal_Amount_Row_" + index).text(totalAmount.toFixed(2));
            if (poLineId > 0) {
                $("#txtOrder_Qty_" + index).css('background-color', parseInt($("#txtOrder_Qty_" + index).val()) <= parseInt($("#lblAvailable_Qty_" + index).text()) ? "lightgreen" : "indianred");
            }
            $("[id^='lblTotal_Amount_Row_']").each(function () {
                sumOfTotal += parseFloat($("#" + this.id).text());
            });
            $("#SaleAmount").val(sumOfTotal.toFixed(2));
            $("#lblTotalAmount").text("Total : " + sumOfTotal.toFixed(2));
        }
    }
    function Remove(button) {
        //Determine the reference of the Row using the Button.
        $("#IsUpdateMaterialSales").val(0);
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).text();
        if (confirm("Do you want to remove this purchase.", "Remove")) {
            //Get the reference of the Table.
            var table = $("#tblMaterialSales")[0];
            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
        let sumOfTotal = 0;
        $("#tblMaterialSales TBODY TR").each(function () {
            var row = $(this);
            let td = row.find("TD");
            sumOfTotal += parseFloat(td[14].innerText);
        });
        $("#lblTotalAmount").text("Total : " + sumOfTotal.toFixed(2));
        $("#IsUpdateMaterialSales").val(1);
    };
    function BindGrid(result,isqtydisabled,sourceid) {
        let totalAmount = 0;
        $.each(result, function (index, value) {

            let quantity = parseFloat(value.Order_Qty);
            let rate = parseFloat(value.Order_Rate);
            let gst = parseFloat(value.GST !== "" ? value.GST : "0");
            let amount = 0;
            let tamount = 0;
            let gstAmount = 0;
            let cgst = 0;
            let sgst = 0;
            let igst = 0;
            let Texable_Amount = 0;
            let discount_1 = 0;
            let discount_2 = 0;
            if (quantity > 0 && rate > 0) {
                amount = quantity * rate;
            }

            if (amount > 0) {
                gstAmount = amount * gst / 100;
                if (sourceid === 1) {
                    let is_SameState = value.Is_SameState.toString() === "1" ? true : false;
                    if (is_SameState) {
                        cgst = parseFloat(gstAmount / 2).toFixed(2)
                        sgst = parseFloat(gstAmount / 2).toFixed(2)
                        igst = parseFloat(0).toFixed(2);
                    } else {
                        cgst = parseFloat(0).toFixed(2)
                        sgst = parseFloat(0).toFixed(2)
                        igst = parseFloat(gstAmount).toFixed(2);
                    }
                    Texable_Amount = amount;
                    tamount = amount + gstAmount;
                }
                else {
                    cgst = value.CGST;
                    sgst = value.SGST;;
                    igst = value.IGST;;
                    discount_1 = parseInt(value.Discount_1);
                    discount_2 = parseInt(value.Discount_2);
                    amount = value.Amount;
                    //let disamt = amount * (discount_1 + discount_2) / 100;
                    //Texable_Amount = amount - disamt;
                    Texable_Amount = value.Taxable_Amount;
                    tamount = value.TotalAmount;
                }


            }



            //Get the reference of the Table's TBODY element.
            var tBody = $("#tblMaterialSales > TBODY")[0];
            //Add Row.
            var row = tBody.insertRow(-1);
            $(row).attr('id', 'trRow_' + value.Line_Id);
            //Add Button cell.
            //let htmlEditBtn = `<input type="button" onclick="Remove(this);" value="Remove"/>`;
            let htmlEditBtn = `<a class="btn btn-danger" style="padding: 2px 5px 2px 5px; margin-bottom:0px" onclick="Remove(this);" href="javascript:void(0)"><i class="fa fa-trash"></i></a>`;
            cell = $(row.insertCell(-1));
            cell.append(htmlEditBtn);
            //Add Item cell.

            let lblItem = `<label id="lblItem_${value.Item_Id}">${value.ItemName}</label>
                            <input type="hidden" id="hdnItemId_${value.Item_Id}" name="hdnItemId_${value.Item_Id}" value="${value.Item_Id}" />
                            <input type="hidden" id="hdnLineId_${value.Item_Id}" name="hdnLineId_${value.Item_Id}" value="${value.Line_Id === undefined ? "0" : value.Line_Id}" />
                            <input type="hidden" id="hdnPOLineId_${value.Item_Id}" name="hdnPOLineId_${value.Item_Id}" value="${value.POLine_Id}" />
                            <input type="hidden" id="hdnPOId_${value.Item_Id}" name="hdnPOId_${value.Item_Id}" value="${value.PO_Id}" />
                            <input type="hidden" id="hdnItemTypeGrid_${value.Item_Id}" name="hdnItemTypeGrid_${value.Item_Id}" value="${value.ItemNature}" />
                            <input type="hidden" id="hdnIs_SameStateGrid_${value.Item_Id}" name="hdnIs_SameStateGrid_${value.Item_Id}" value="${value.Is_SameState === undefined ? "0" : value.Is_SameState}" />
                            <input type="hidden" id="hdnDiscount_1_Amt_${value.Item_Id}" name="hdnDiscount_1_Amt_${value.Item_Id}" value="${value.Discount_1_Amount}" />
                            <input type="hidden" id="hdnDiscount_2_Amt_${value.Item_Id}" name="hdnDiscount_2_Amt_${value.Item_Id}" value="${value.Discount_2_Amount}" />
                          `;
            cell = $(row.insertCell(-1));
            cell.append(lblItem);
            //Add Order Date.
            let lblOrderDate = `<label id="lblOrderDate_${value.Item_Id}">${value.OrderDate !== undefined ? value.OrderDate : "N/A"}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblOrderDate);
            //Add Hsn_Sac cell.
            let lblHSN_SAC = `<label id="lblHSN_SAC_${value.Item_Id}">${value.HSN_SAC}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblHSN_SAC);

            //Add Quantity cell.
            let htmlOrder_Qty = `<input type="text" id="txtOrder_Qty_${value.Item_Id}" ${isqtydisabled == 1 ? "disabled" : "enabled"} data-index="${value.Item_Id}" style="background-color: ${value.Order_Qty <= value.Available_Qty ? 'lightgreen' : 'indianred'};width:40px;" name="txtOrder_Qty_${value.Item_Id}" onchange="Calculate(this);" value="${quantity}"  tp-type="numeric" />`;
            cell = $(row.insertCell(-1));
            cell.append(htmlOrder_Qty);
            //Add Available_Qty cell.
            let lblAvailable_Qty = `<label id="lblAvailable_Qty_${value.Item_Id}" style="background-color: lightgreen;">${value.Available_Qty === null ? "0" : value.Available_Qty}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblAvailable_Qty);
            //Add Unit cell.
            let lblUnit = `<label id="lblUnit_${value.Item_Id}" data-Unit_Id="${value.UnitId}" data-index="${value.Item_Id}" >${value.Unit}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblUnit);
            //Add Rate cell.
            let htmlRate = `<input type="text" id="txtRate_${value.Item_Id}" ${isqtydisabled == 1 ? "disabled" : "enabled"} data-index="${value.Item_Id}" name="txtRate_${value.Item_Id}" onchange="Calculate(this);" value="${rate}"  tp-type="numeric" style="width:40px;"/>`;
            cell = $(row.insertCell(-1));
            cell.append(htmlRate);
            //Add Amount cell.
            let lblAmount = `<label id="lblAmount_${value.Item_Id}">${amount}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblAmount);
            //Add Discount_1 cell.
            let htmlDiscount1 = `<input type="text" id="txtDiscount1_${value.Item_Id}" ${isqtydisabled == 1 ? "disabled" : "enabled"} data-index="${value.Item_Id}" name="txtDiscount1_${value.Item_Id}" onchange="Calculate(this);" value="${sourceid === 1 ? 0 : discount_1}"  tp-type="numeric" style="width:30px;"/>`;
            cell = $(row.insertCell(-1));
            cell.append(htmlDiscount1);
            //Add Discount_2 cell.
            let htmlDiscount2 = `<input type="text" id="txtDiscount2_${value.Item_Id}" ${isqtydisabled == 1 ? "disabled" : "enabled"} data-index="${value.Item_Id}" name="txtDiscount2_${value.Item_Id}" onchange="Calculate(this);" value="${sourceid === 1 ? 0 : discount_2}"  tp-type="numeric" style="width:30px;"/>`;
            cell = $(row.insertCell(-1));
            cell.append(htmlDiscount2);
            //Add Taxable_Amount cell.
            let lblTaxable_Amount = `<label id="lblTaxable_Amount_${value.Item_Id}">${Texable_Amount}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblTaxable_Amount);
            //Add GST cell.
            let lblGST = `<label id="lblGST_${value.Item_Id}">${gst}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblGST);
            //Add CGST cell.
            let lblCGST = `<label id="lblCGST_${value.Item_Id}">${cgst}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblCGST);
            //Add SGST cell.
            let lblSGST = `<label id="lblSGST_${value.Item_Id}">${sgst}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblSGST);
            //Add IGST cell.
            let lblIGST = `<label id="lblIGST_${value.Item_Id}">${igst}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblIGST);
            //Add Total_Amount cell.
            let lblTotal_Amount = `<label id="lblTotal_Amount_Row_${value.Item_Id}">${tamount}</label>`;
            cell = $(row.insertCell(-1));
            cell.append(lblTotal_Amount);

        });
        $("[id^='lblTotal_Amount_Row_']").each(function () {
            totalAmount += parseFloat($("#" + this.id).text());
        });
        $("#SaleAmount").val(totalAmount.toFixed(2));
        $("#lblTotalAmount").text("Total : " + totalAmount.toFixed(2));
        $("#divDeleteMatrial").css('display', 'block');
    };
</script>