@model IMS.Models.ViewModel.MaterialOrder
@{
    ViewBag.Title = "Order Creation";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}

@{
    var AppToken = Convert.ToString(@Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Order Creation</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <h3 style="color:lightgreen;" id="msg">@ViewBag.Success</h3>
                        <h3 style="color:indianred;">@ViewBag.Msg</h3>
                        <div class="heading">
                            <h4>
                                Search Purchase Material
                            </h4>
                        </div>
                        <br />
                        <div class="styled-input">
                            <div class="col-md-3 form-group">
                                <label>Party</label>
                                @Html.DropDownList("drpParty", new SelectList(Model.PartyLists, "Value", "Text"), htmlAttributes: new { @id = "drpParty", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Order<span class="mandatory">*</span></label>
                            <select id="drpOrder" name="drpOrder" class="form-control"></select>
                        </div>
                        <div class="col-md-1 form-group pull-left">
                            <button type="button" style="margin-top: 18px;" name="btnSearch" id="btnSearch" class="btncustome pull-right">Search</button>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        @using (Html.BeginForm("ManageOrder", "Material", FormMethod.Post, new { @id = "MaterialPurchase" }))
                        {
                            @Html.HiddenFor(m => m.POId, htmlAttributes: new { @id = "POId" })
                            @Html.HiddenFor(m => m.PONo, htmlAttributes: new { @id = "PONo" })
                            @Html.HiddenFor(m => m.AppToken)
                            @Html.HiddenFor(m => m.IsUpdate, htmlAttributes: new { @id = "IsUpdate" })
                            @Html.HiddenFor(m => m.MaterialLine, htmlAttributes: new { @id = "MaterialLine" })
                            <div class="heading">
                                <h4>
                                    Material Order
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Party<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(x => x.PartyId, new SelectList(Model.PartyLists, "Value", "Text"), htmlAttributes: new { @id = "PartyId", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Contact No</label>
                                    <label id="lblContactNo" class="form-control"></label>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Address</label>
                                    <label id="lblAddress" class="form-control"></label>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Party Category</label>
                                    <label id="lblPartyCategory" class="form-control"></label>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Ledger Balance (Due amount)</label>
                                    <label id="lblLedgerBalance" class="form-control"></label>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Cash Balance</label>
                                    <label id="lblCashBalance" class="form-control"></label>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Over Due Amount</label>
                                    <label id="lblOverDueAmount" class="form-control"></label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <div class="styled-input">
                                    <div class="col-md-12 form-group">
                                        <h5>Add/Update Matrial Purchase</h5>
                                        <hr />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <table id="tblOrderCreation" class="table" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Action</th>
                                                <th>Item</th>
                                                <th>Available Qty</th>
                                                <th>Last Rate</th>
                                                <th>Last Dist-1(%)</th>
                                                <th>Last Dist-2(%)</th>
                                                <th>List Price(MRP)</th>
                                                <th>Order Qty</th>
                                                <th>Order Rate</th>
                                                <th>Remark</th>
                                            </tr>
                                            <tr>
                                                <content>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="styled-input">
                                                            <div class="col-md-3 form-group">
                                                                <label>Item<span class="mandatory">*</span></label>
                                                                @Html.DropDownList("Item_Id", new SelectList(Model.Item_Lists, "Value", "Text"), htmlAttributes: new { @Item_Id = "Item_Id", @class = "form-control" })
                                                            </div>
                                                            <div class="col-md-3 form-group">
                                                                <label>Available Qty</label>
                                                                <label id="lblAvailableQty" class="form-control"></label>
                                                            </div>
                                                            <div class="col-md-3 form-group">
                                                                <label>Last Rate</label>
                                                                <label id="lblLastRate" class="form-control"></label>
                                                            </div>
                                                            <div class="col-md-3 form-group">
                                                                <label>Last Dist-1(%)</label>
                                                                <label id="lblLastDist1" class="form-control"></label>
                                                            </div>
                                                            <div class="col-md-3 form-group">
                                                                <label>Last Dist-2(%)</label>
                                                                <label id="lblLastDist2" class="form-control"></label>
                                                            </div>
                                                            <div class="col-md-3 form-group">
                                                                <label>List Price</label>
                                                                <label id="lblListPrice" class="form-control"></label>
                                                            </div>
                                                            <div class="col-md-3 form-group">
                                                                <label>Order Qty<span class="mandatory">*</span></label>
                                                                <input id="txtOrderQty" name="txtOrderQty" class="form-control" />
                                                            </div>
                                                            <div class="col-md-3 form-group">
                                                                <label>Order Rate<span class="mandatory">*</span></label>
                                                                <input id="txtOrderRate" name="txtOrderRate" class="form-control" />
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="col-md-3 form-group">
                                                                <label>Remark<span class="mandatory">*</span></label>
                                                                <input id="txtRemark" name="txtRemark" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </content>
                                            </tr>
                                            <tr>
                                                <content><label id="lblTotalAmount">Total : 0.00</label></content>
                                                <content class="pull-right">
                                                    <input type="button" id="btnAdd" name="btnAdd" value="Add" />
                                                    <input type="button" id="btnReset" name="btnReset" value="Reset" />
                                                </content>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyid">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <br />
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <div style="display:none" id="divDeleteMatrial">
                                    <button type="button" name="btnDelete" id="btnDelete" class="btncustome pull-right">Delete Order</button>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="appointment-btn text-lg-right">
                                    <input type="hidden" id="hdnRowId" name="hdnRowId" value="" />
                                    <input type="hidden" id="hdnEditRow" name="hdnEditRow" value="" />
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome pull-right">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="appointment-btn text-lg-right">
                                    <button type="button" name="btnResetForm" id="btnResetForm" class="btncustome pull-right">Reset</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="blank-page">
                    <div id="listGrid"></div>
                </div>
            </div>
        </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
  //IMSM.matrialPurchase();
        $("#Item_Id").select2();
        $("#drpParty").select2();
        $("#PartyId").select2();
        $("#drpOrder").select2();

        $("body").on("click", "#btnReset", function (e) {
            e.preventDefault();
            $("#Item_Id").val($("#Item_Id option:first").val());
            $('#Item_Id').select2().trigger('change');
            $("#lblAvailableQty").text("");
            $("#lblLastRate").text("");
            $("#lblLastDist1").text("");
            $("#lblLastDist2").text("");
            $("#lblListPrice").text("");
            $("#txtOrderQty").val("");
            $("#txtOrderRate").val("");
            $("#txtRemark").val("");
            $("#btnAdd").val("Add");
        });

        $("body").on("click", "#btnAdd", function () {
            let bAdded = true;
            let msg = "";
            //let amount = 0.0;

            //Reference the Party and Location ddl.
            if ($("#tblOrderCreation TBODY TR").length > 0) {
                $("#tblOrderCreation TBODY TR").each(function () {
                    var row = $(this);
                    let td = row.find("TD");
                    let itemId = parseInt(td.eq(1).attr('data-item-id'));
                    if (parseInt($("#Item_Id").val()) === itemId) {
                        msg = "Material is already mapped!!!";
                        bAdded = false;
                    }
                    if ($("#hdnItemId").val() !== "" && parseInt($("#hdnItemId").val()) > 0) {
                        if (itemId === parseInt($("#hdnItemId").val())) {
                            bAdded = true;
                        }
                    }
                });
            }
            if (bAdded) {
                if (parseInt($("#Item_Id").val()) === 0 || $("#txtOrderQty").val() === "" || $("#txtOrderRate").val() === "") {
                    msg = "Please select all mandatory fields to add material in list.";
                    bAdded = false;
                }
            }
            if (parseInt($("#txtOrderQty").val()) <= parseInt($("#lblAvailableQty").text())) {
                bAdded = true;
            } else {
                msg = "Order qty grater then available qty!!!";
                bAdded = false;
            }
            if (bAdded) {
                if ($("#hdnRowId").val() !== "" && parseInt($("#hdnRowId").val()) > 0) {
                    let index = parseInt($("#hdnRowId").val());
                    $("#lblItem_" + index).text($("#Item_Id").text());
                    $("#lblAvailableQty_" + index).text($("#lblAvailableQty").text());
                    $("#lblLastRate_" + index).text($("#lblLastRate").text());
                    $("#lblLastDist1_" + index).text($("#lblLastDist1").text());
                    $("#lblLastDist2_" + index).text($("#lblLastDist2").text());
                    $("#lblListPrice_" + index).text($("#lblListPrice").text());
                    $("#txtOrderQty_" + index).text($("#txtOrderQty").text());
                    $("#txtOrderRate_" + index).text($("#txtOrderRate").text());
                    $("#txtRemark_" + index).text($("#txtRemark").text());
                } else {
                    //Get the reference of the Table's TBODY element.
                    var tBody = $("#tblOrderCreation > TBODY")[0];
                    //Add Row.
                    var row = tBody.insertRow(-1);
                    $(row).attr('id', 'trRow_' + parseInt($("#Item_Id").val())).attr('data-index', parseInt($("#Item_Id").val()));
                    //Add Button cell.
                    let htmlEditBtn = `<input type="button" onclick="Remove(this);" value="Remove"/>`;
                    cell = $(row.insertCell(-1));
                    cell.append(htmlEditBtn);
                    //Add Item cell.
                    let lblItem = `<label id="lblItem_${parseInt($("#Item_Id").val())}" data-index="${parseInt($("#Item_Id").val())}">${$("#Item_Id").text()}</label>`;
                    cell = $(row.insertCell(-1));
                    cell.append(lblItem);
                    //Add AvailableQty.
                    let htmlAvailableQty = `<label id="lblAvailableQty_${parseInt($("#Item_Id").val())}" data-index="${parseInt($("#Item_Id").val())}">${$("#lblAvailableQty").text()}</label>`;
                    cell = $(row.insertCell(-1));
                    cell.append(htmlAvailableQty);

                    //Add Last Rate.
                    let htmlLastRate = `<label id="lblLastRate_${parseInt($("#Item_Id").val())}" data-index="${parseInt($("#Item_Id").val())}">${$("#lblLastRate").text()}</label>`;
                    cell = $(row.insertCell(-1));
                    cell.append(htmlLastRate);
                    //Add LastDist1 cell.
                    let lblLastDist1 = `<label id="lblLastDist1_${parseInt($("#Item_Id").val())}" data-index="${parseInt($("#Item_Id").val())}">${$("#lblLastDist1").text()}</label>`;
                    cell = $(row.insertCell(-1));
                    cell.append(lblLastDist1);
                    //Add LastDist2 cell.
                    let lblLastDist2 = `<label id="lblLastDist2_${parseInt($("#Item_Id").val())}" data-index="${parseInt($("#Item_Id").val())}">${$("#lblLastDist2").text()}</label>`;
                    cell = $(row.insertCell(-1));
                    cell.append(lblLastDist2);
                    //Add ListPrice cell.
                    let lblListPrice = `<label id="lblListPrice_${parseInt($("#Item_Id").val())}" data-index="${parseInt($("#Item_Id").val())}">${$("#lblListPrice").text()}</label>`;
                    cell = $(row.insertCell(-1));
                    cell.append(lblListPrice);
                    //Add txtOrderQty cell.
                    let txtOrderQty = `<label id="txtOrderQty_${parseInt($("#Item_Id").val())}" data-index="${parseInt($("#Item_Id").val())}">${$("#txtOrderQty").val()}</label>`;
                    cell = $(row.insertCell(-1));
                    cell.append(txtOrderQty);
                    //Add txtOrderRate cell.
                    let txtOrderRate = `<label id="txtOrderRate_${parseInt($("#Item_Id").val())}" data-index="${parseInt($("#Item_Id").val())}">${$("#txtOrderRate").val()}</label>`;
                    cell = $(row.insertCell(-1));
                    cell.append(txtOrderRate);
                    //Add txtRemark cell.
                    let txtRemark = `<label id="txtRemark_${parseInt($("#Item_Id").val())}" data-index="${parseInt($("#Item_Id").val())}">${$("#txtRemark").val()}</label>`;
                    cell = $(row.insertCell(-1));
                    cell.append(txtRemark);
                }

                //Set Default
                $("#Item_Id").val($("#Item_Id option:first").val());
                $('#Item_Id').select2().trigger('change');
                $("#lblAvailableQty").text("");
                $("#lblLastRate").text("");
                $("#lblLastDist1").text("");
                $("#lblLastDist2").text("");
                $("#lblListPrice").text("");
                $("#txtOrderQty").val("");
                $("#txtOrderRate").val("");
                $("#hdnRowId").val("");
                //$("#tblOrderCreation TBODY TR").each(function () {
                //    var row = $(this);
                //    let index = parseInt($(row).attr('data-index'));
                //    amount += parseFloat(td[14].innerText);
                //});
                //$("#PurchaseAmount").val(amount.toFixed(2));
                //$("#lblTotalAmount").text("Total : " + amount.toFixed(2));
            }

            if (bAdded) {
                return true;
            } else {
                alert(msg);
                return false;
            }
        });

        $("body").on("click", "#btnSubmit", function () {
            //Loop through the Table rows and build a JSON array.
            let OrderLineValues = [];
            let isValid = true;
            let msg = "";
            if ($("#tblOrderCreation TBODY TR").length > 0) {
                $("#tblOrderCreation TBODY TR").each(function () {
                    //let row = $(this).find('td');
                    let index = parseInt($(this).attr('data-index'));
                    let oMapping = {};
                    oMapping.Line_Id = $("#lblLIneId_" + index).text();
                    oMapping.Item_Id = $("#lblItem_" + index).text();
                    oMapping.Available_Qty = $("#lblAvailableQty_" + index).text();
                    oMapping.Last_Rate = $("#lblLastRate_" + index).text();
                    oMapping.Last_Discount = parseInt($("#lblLastDist1_" + index).text()) + parseInt($("#lblLastDist2_" + index).text());
                    oMapping.Last_Price = $("#lblListPrice_" + index).text();
                    oMapping.Order_Qty = $("#txtOrderQty_" + index).val();
                    oMapping.Order_Rate = $("#txtOrderRate_" + index).val();
                    oMapping.Amount = parseInt($("#txtOrderQty_" + index).val()) * parseInt($("#txtOrderRate_" + index).val());
                    oMapping.Remarks = $("#txtRemark" + index).val();
                    oMapping.IsUpdate = $("#IsUpdate").val();
                    OrderLineValues.push(oMapping);
                });
                $("#MaterialLine").val(JSON.stringify(OrderLineValues));
            } else {
                msg = "Please add at least 1 matrial purchase.";
                isValid = false;
            }
            if (parseInt($("#PartyId").val()) === 0 ) {
                msg = "Please fill all mandatory fields.";
                isValid = false;
            }

            if (isValid) {
                return true;
            } else {
                alert(msg);
                return false;
            }
        });

        $("#Item_Id").change(function () {
            let Item_Id = parseInt($("#Item_Id").val());
            if (Item_Id >0) {
                IMSC.ajaxCall("GET", "/Material/GetItemDetail?Item_Id=" + Item_Id + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                    var result = JSON.parse(d);
                    if (result != null && result.length > 0) {
                        $("#lblAvailableQty").text(result[0].Available_Qty);
                        $("#lblLastRate").text(result[0].Last_Rate);
                        $("#lblLastDist1").text(result[0].Last_Disc_1);
                        $("#lblLastDist2").text(result[0].Last_Disc_2);
                        $("#lblListPrice").text(result[0].ListPrice);
                    }
                });
            }
        });

        $("#PartyId").change(function () {
             let PartyId = parseInt($('#PartyId').val());
             if (PartyId >0 ) {
                IMSC.ajaxCall("GET", "/Material/GetParty?PartyId=" + PartyId + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                    var result = JSON.parse(d);
                    if (result !== null && result.length > 0) {
                        $("#lblContactNo").text(result[0].ContactNo);
                        $("#lblOverDueAmount").text(result[0].OverdueAmount);
                        $("#lblCashBalance").text(result[0].CashBalance);
                        $("#lblLedgerBalance").text(result[0].LedgerBalance);
                        $("#lblPartyCategory").text(result[0].Category);
                        $("#lblAddress").text(result[0].Address);
                    }
                });
             } else {
                 $("#lblContactNo").text("");
                 $("#lblOverDueAmount").text("");
                 $("#lblCashBalance").text("");
                 $("#lblLedgerBalance").text("");
                 $("#lblPartyCategory").text("");
                 $("#lblAddress").text("");
             }
        });

        $("#drpParty").change(function () {
            let Party_Id = parseInt($('#drpParty').val());
            $("#PartyId").val(Party_Id);
            IMSC.ajaxCall("GET", "/Material/GetInvoice?Party_Id=" + Party_Id + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                var result = JSON.parse(d);
                if (result.length > 0) {
                    if (result !== null) {
                        $.each(result, function (index, value) {
                            $("#drpInvoice").append($("<option></option>").val(value.Purchase_Id).html(value.Invoice_No));
                        });
                        $("#drpInvoice").change();
                    }
                } else {
                    $("#drpInvoice").empty();
                    $("#PurchaseId").val(0);
                }
            });
        }).change();

        $("#drpInvoice").change(function () {
            $("#PurchaseId").val(parseInt($("#drpInvoice").val()));
        });

        $("#btnSearch").click(function (e) {
            e.preventDefault();
            let Purchase_Id = parseInt($("#PurchaseId").val());
            if (Purchase_Id > 0) {
                IMSC.ajaxCall("GET", "/Material/GetMatrialPurchase?Purchase_Id=" + Purchase_Id + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                var res = JSON.parse(d);
                if (res !== null) {
                    var result = res.Table;
                    $("#StateId").empty();
                    $("#StateId").append($("<option></option>").val(0).html("Select State"));
                    $.each(res.Table1, function (index, value) {
                        $("#StateId").append($("<option></option>").val(value.State_Id).html(value.StateName));
                    });
                    $("#PartyId").val(result[0].Party_Id);
                    $("#StateId").val(result[0].SupplyState_Id);
                    $("#IsUpdateMaterialPurchase").val(1);
                    $("#OfficeId").val(result[0].Office_Id);
                    $("#InvoiceNo").val(result[0].Invoice_No);
                    $("#drpPartyId").val(result[0].Party_Id);
                    $("#Purchase_Ref").val(result[0].Purchase_Ref);
                    $("#TransactionDate").val(result[0].Transaction_Date);
                    $("#SupplyStateId").val(result[0].SupplyState_Id);
                    $("#Remarks").val(result[0].Remarks);
                    $("#PurchaseId").val(result[0].Purchase_Id)
                    $("#tbodyid").empty(Purchase_Id);
                    let amount = 0;
                    $.each(result, function (index, value) {
                        amount += parseFloat(value.Total_Amount);
                        //Get the reference of the Table's TBODY element.
                        var tBody = $("#tblOrderCreation > TBODY")[0];
                        //Add Row.
                        var row = tBody.insertRow(-1);
                        $(row).attr('id', 'trRow_' + value.Line_Id);
                        //Add Button cell.
                        cell = $(row.insertCell(-1));
                        let btnEdit = $("<input />");
                        btnEdit.attr("type", "button");
                        btnEdit.attr("onclick", "Edit(this);");
                        btnEdit.val("Edit");
                        cell.append(btnEdit);
                        //Add Item cell.
                        var cell = $(row.insertCell(-1));
                        cell.html(value.ItemTitle);
                        cell.attr('data-item-id', value.Item_Id);
                        cell.attr('data-line-Id', value.Line_Id);
                        //Add Hsn_Sac cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.HSN_SAC);
                        //Add Quantity cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.Quantity);
                        //Add Unit cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.UnitTitle);
                        cell.attr('data-Unit_Id', value.Unit_Id);
                        //Add Rate cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.Rate);
                        //Add Amount cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.Amount);
                        //Add Discount_1 cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.Discount_1);
                        //Add Discount_2 cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.Discount_2);
                        //Add Taxable_Amount cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.Taxable_Amount);
                        //Add GST cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.GST);
                        //Add CGST cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.CGST);
                        //Add SGST cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.SGST);
                        //Add IGST cell.
                        cell = $(row.insertCell(-1));
                        cell.html(value.IGST);
                        //Add Total_Amount cell.
                        cell = $(row.insertCell(-1));
                        cell.attr('data-row-Id', value.Line_Id);
                        cell.html(value.Total_Amount);
                    });
                    $("#lblTotalAmount").text("Total : " + amount.toFixed(2));
                    $("#divDeleteMatrial").css('display', 'block');
                }
            });
            } else {
                alert("Please select inovice.");
            }
        });

        $("#btnResetForm").click(function (e) {
            e.preventDefault();
            $("#Item_Id").val($("#Item_Id option:first").val());
            $('#Item_Id').select2().trigger('change');
            $("#lblAvailableQty").text("");
            $("#lblLastRate").text("");
            $("#lblLastDist1").text("");
            $("#lblLastDist2").text("");
            $("#lblListPrice").text("");
            $("#txtOrderQty").val("");
            $("#txtOrderRate").val("");
            $("#txtRemark").val("");
            $("#PartyId").val($("#PartyId option:first").val());
            $('#PartyId').select2().trigger('change');
            $("#lblContactNo").text("");
            $("#lblOverDueAmount").text("");
            $("#lblCashBalance").text("");
            $("#lblLedgerBalance").text("");
            $("#lblPartyCategory").text("");
            $("#lblAddress").text("");
            $("#hdnRowId").val("");
            $("#btnAdd").val("Add");
            $("#tblOrderCreation TBODY").empty();
            $("#divDeleteMatrial").css('display', 'none');
        });

        $("#btnDelete").click(function () {
            let Purchase_Id = parseInt($("#PurchaseId").val());
            if (Purchase_Id > 0) {
                window.location.href = "/Material/DeleteMatrialPurchase?Purchase_Id=" + Purchase_Id + "&AppToken=" + '@Model.AppToken';
            } else {
                alert("Please select invoice.");
            }
        });
    });
    function Edit(button) {
        //Determine the reference of the Row using the Button.
        $("#btnAdd").val("Update");
        $("#IsUpdate").val(1);
        let index = parseInt($(button).attr('data-index'));
        //var row = $(button).closest("TR").find('td');
        $("#Item_Id").val(parseInt($("#lblItem_" + index).text()));
        $('#Item_Id').select2().trigger('change');
        $("#txtOrderQty").val($("#txtOrderQty_" + index).text());
        $("#txtOrderRate").val($("#txtOrderRate_" + index).text());
        $("#Hsn_Sac").val($("#txtRemark_" + index).text());
        $("#hdnRowId").val(index);
        //if (parseFloat(row[11].innerText).toFixed(2) > 0 && parseFloat(row[12].innerText).toFixed(2) > 0) {
        //    $("#hdnIs_SameState").val("1");
        //} else {
        //    $("#hdnIs_SameState").val("0");
        //}
    };
    function Remove(button) {
        //Determine the reference of the Row using the Button.
        $("#IsUpdate").val(0);
        var row = $(button).closest("TR");
        //var name = $("TD", row).eq(0).text();
        if (confirm("Do you want to remove this purchase.", "Remove")) {
            //Get the reference of the Table.
            var table = $("#tblOrderCreation")[0];
            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
        //let sumOfTotal = 0;
        //$("#tblOrderCreation TBODY TR").each(function () {
        //    var row = $(this);
        //    let td = row.find("TD");
        //    sumOfTotal += parseFloat(td[13].innerText);
        //});
        //$("#PurchaseAmount").val(sumOfTotal.toFixed(2));
        //$("#lblTotalAmount").text("Total : " + sumOfTotal.toFixed(2));
    };
</script>