@model IMS.Models.ViewModel.MaterialOrder
@{
    ViewBag.Title = "Order Creation";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}
@{
    var AppToken = Convert.ToString(@Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Order Creation</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <div class="heading">
                            <h4>
                                Search Material Order
                            </h4>
                        </div>
                        <br />
                        <div class="styled-input">
                            <div class="col-md-3 form-group">
                                <label>Party</label>
                                @Html.DropDownList("drpParty", new SelectList(Model.PartyLists, "Value", "Text"), htmlAttributes: new { @id = "drpParty", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Order<span class="mandatory">*</span></label>
                            <select id="drpOrder" name="drpOrder" class="form-control"></select>
                        </div>
                        <div class="col-md-1 form-group pull-left">
                            <button type="button" style="margin-top: 18px;" name="btnSearch" id="btnSearch" class="btncustome pull-right">Search</button>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        @using (Html.BeginForm("ManageOrder", "Material", FormMethod.Post, new { @id = "MaterialPurchase" }))
                        {
                            @Html.HiddenFor(m => m.POId, htmlAttributes: new { @id = "POId" })
                            @Html.HiddenFor(m => m.PONo, htmlAttributes: new { @id = "PONo" })
                            @Html.HiddenFor(m => m.AppToken)
                            @Html.HiddenFor(m => m.IsUpdate, htmlAttributes: new { @id = "IsUpdate" })
                            @Html.HiddenFor(m => m.MaterialLine, htmlAttributes: new { @id = "MaterialLine" })
                            @Html.HiddenFor(m => m.TotalAmount, htmlAttributes: new { @id = "TotalAmount" })
                            @Html.HiddenFor(m => m.PartyId, htmlAttributes: new { @id = "PartyId" })

                            <div class="heading">
                                <h4>
                                    Material Order
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Party<span class="mandatory">*</span></label>
                                    <input type="text" id="SearchParty" name="SearchParty" placeholder="Search Party" class="form-control" />
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Contact No</label>
                                    <label id="lblContactNo" class="form-control" readonly></label>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Address</label>
                                    <input type="text" id="txtAddress" name="txtAddress" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Party Category</label>
                                    <label id="lblPartyCategory" class="form-control" readonly></label>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Ledger Balance (Due amount)</label>
                                    <label id="lblLedgerBalance" class="form-control" readonly></label>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Cash Balance</label>
                                    <label id="lblCashBalance" class="form-control" readonly></label>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Over Due Amount</label>
                                    <label id="lblOverDueAmount" class="form-control" readonly></label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="heading">
                                <h4>
                                    Add/Update Material Order
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-2 form-group">
                                    <label>Item<span class="mandatory">*</span></label>
                                     <input type="text" id="ItemSearch" name="ItemSearch" placeholder="Search Item" class="form-control" />
                                    <input type="hidden" id="Item_Id" name="Item_Id" value="" />
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Unit<span class="mandatory">*</span></label>
                                    @Html.DropDownList("Unit_Id", new SelectList(Model.UnitLists, "Value", "Text"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Available Qty</label>
                                    <label id="lblAvailableQty" class="form-control" readonly></label>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Last Rate</label>
                                    <label id="lblLastRate" class="form-control" readonly></label>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Last Dist-1(%)</label>
                                    <label id="lblLastDist1" class="form-control" readonly></label>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Last Dist-2(%)</label>
                                    <label id="lblLastDist2" class="form-control" readonly></label>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>List Price</label>
                                    <label id="lblListPrice" class="form-control" readonly></label>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Order Qty<span class="mandatory">*</span></label>
                                    <input id="txtOrderQty" name="txtOrderQty" class="form-control" />
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Order Rate<span class="mandatory">*</span></label>
                                    <input id="txtOrderRate" name="txtOrderRate" class="form-control" />
                                </div>

                                <div class="col-md-4 form-group">
                                    <label>Remark</label>
                                    <input id="txtRemark" name="txtRemark" class="form-control" />
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Action</label>
                                    <br />
                                    <a id="btnAdd" name="btnAdd" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                    <a id="btnReset" name="btnReset" class="btn btn-primary"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <label id="lblTotalAmount">Total : 0.00</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table id="tblOrderCreation" class="table table-striped" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="tbl-heading">Action</th>
                                            <th class="tbl-heading">Item</th>
                                            <th class="tbl-heading">Unit</th>
                                            <th class="tbl-heading">Available Qty</th>
                                            <th class="tbl-heading">Last Rate</th>
                                            <th class="tbl-heading">Last Dist-1(%)</th>
                                            <th class="tbl-heading">Last Dist-2(%)</th>
                                            <th class="tbl-heading">List Price(MRP)</th>
                                            <th class="tbl-heading">Order Qty</th>
                                            <th class="tbl-heading">Order Rate</th>
                                            <th class="tbl-heading">Amount</th>
                                            <th class="tbl-heading">Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyid"></tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-8"></div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="button" name="btnResetForm" id="btnResetForm" class="btncustome">Reset</button>
                                </div>
                            </div>

                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <input type="hidden" id="hdnRowId" name="hdnRowId" value="" />
                                    <input type="hidden" id="hdnLineId" name="hdnLineId" value="" />
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div style="display:none" id="divDeleteMatrial">
                                    <button type="button" name="btnDelete" id="btnDelete" class="btncustome">Delete</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="blank-page">
                    <div id="listGrid"></div>
                </div>
            </div>
        </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        IMSMaterial.AppToken = '@Model.AppToken';
        IMSMaterial.materialOrderCreation();
    });
</script>