@model IMS.Models.ViewModel.RateType
@{
    ViewBag.Title = "Rate Type";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}

@{
    var AppToken = Convert.ToString(@Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Rate Type</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        @using (Html.BeginForm("ManageRateType", "Material", FormMethod.Post, new { enctype = "multipart/form-data", @id = "StateMaster" }))
                        {
                            @Html.HiddenFor(m => m.Id, htmlAttributes: new { @id = "Id" })
                            @Html.HiddenFor(m => m.AppToken)
                            <div class="heading">
                                <h4>
                                    Rate Type Detail
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-3 form-group">
                                    <label>Name<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @placeholder = "Enter Name", @id = "Name", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-3 form-group">
                                    <label>Code <span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Code, htmlAttributes: new { @placeholder = "Enter Code ", @id = "Code", @required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-3 form-group">
                                    <label>Type<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(m => m.Type_Id, new SelectList(Model.TypeLists, "Value", "Text"), htmlAttributes: new { @id = "Type", @class = "form-control" })

                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-3 form-group">
                                    <label>Remark</label>
                                    @Html.TextBoxFor(m => m.Remarks, htmlAttributes: new { @id = "Remarks", @class = "form-control" })

                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-10"></div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="reset" name="btnReset" id="btnReset" class="btncustome">Reset</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome">Submit</button>
                                </div>
                            </div>
                        }
                        <div class="col-md-1 form-group pull-right">
                            <div class="appointment-btn text-lg-right">
                                <button class="btncustome" id="btnExport" onclick="exportExcel(this)">Export</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blank-page">
                    <div id="listGrid"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//content-->
    <!---->
</div>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }


        IMSC.ajaxCall("GET", "/Material/GetRateType?AppToken="+'@Model.AppToken', {}, "text", function (d) {
         var StateLists = JSON.parse(d);
         if (StateLists !== "null") {
             var fields = [
                 {
                     title: "Action",
                     width: 80,
                     itemTemplate: function (value, args) {
                         return IMSC.genrateDynamicButtons(value, args,@Model.AuthMode);
                     }
                 },
                 { name: "Id", css: "hidden" },
                 { name: "Name", type: "text", title: "Name", sorting: true, filtering: true, width: 150 },
                 { name: "Code", type: "text", title: "Code", sorting: true, filtering: false, width: 100 },
                 { name: "Type_Id", css: "hidden" },
                 { name: "Constant_Value", type: "text", title: "Type", sorting: true, filtering: false, width: 100 },
                 { name: "Remarks", type: "text", title: "Remarks", sorting: true, filtering: false, width: 100 },
             ];
             var options = {
                 filtering: true,
                 editing: true,
                 sorting: true,
                 paging: true,
                 autoload: true,
                 controller: {
                     StateLists: StateLists,
                     loadData: function (filter) {
                         return $.grep(this.StateLists, function (StateList) {
                             return ((!filter.Name || StateList.Name.toLowerCase().indexOf(filter.Name.toLowerCase()) > -1)
                                 && (!filter.Code || StateList.Code.toLowerCase().indexOf(filter.Code.toLowerCase()) > -1));
                         });
                     }
                 },
                 fields: fields
             };
             $.extend(options, IMSC.grid_options);
             $("#listGrid").jsGrid(options);
             IMSC.filteOnKeyPress("#listGrid");
                }
            });
        });
    var editFormData = function (dilogType, RateType) {
            $("msg").text = "";
        if (RateType.Id > 0) {
            $("#Id").val(RateType.Id);
            $("#Name").val(RateType.Name);
            $("#Code").val(RateType.Code);
            $("#Type").val(RateType.Type_Id);
            $("#Remarks").val(RateType.Remarks);

                $("#btnSubmit").text("Update")
            }
            else {
                $("#Id").val("0");
                $("#btnSubmit").text("Submit")
            }
        };

    var deleteFormData = function (dialogType, RateType) {
        var result = confirm("Are You Sure Want to delete?");
            if (result == true) {
                IMSC.ajaxCall("POST", "/Material/DeleteRateType?id=" + RateType.Id + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                    var result = JSON.parse(d);
                    if (result !== "null" && result !== "") {
                        alert(result.Msg);
                        window.location.reload();
            }
        });
            } else {
                return false;
            }
    };
    //$("body").on("click", "#btnSubmit", function () {
    //    let isValid = true;
    //    let msg = "";
    //    if ($("#Type").val() === 0) {
    //        isValid = false;
    //        msg = "Please select Type!!!";
    //        $('#alertModal').modal('show');
    //        $('#msg').html(msg);
    //        return false;
    //    }
    //});

    function exportExcel() {
        let table = document.getElementsByTagName("table"); // you can use document.getElementById('tableId') as well by providing id to the table tag
        TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
            name: `export.xlsx`, // fileName you could use any name
            sheet: {
                name: 'Sheet 1' // sheetName
            }
        });
    }

</script>
