@model IMS.Models.ViewModel.StoreTransfer
@{
    ViewBag.Title = "Store Transfer";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}

@{
    var AppToken = Convert.ToString(@Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">

            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Store Transfer</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        @using (Html.BeginForm("StoreTransfer", "Material", FormMethod.Post, new { enctype = "multipart/form-data", @id = "StoreTransfer" }))
                        {
                            @Html.HiddenFor(m => m.AppToken)
                            @Html.HiddenFor(m => m.StoreLine, htmlAttributes: new { @id = "StoreLine" })
                            <div class="heading">
                                <h4>
                                    Store Transfer
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>From Office<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(m => m.FromOffice_Id, new SelectList(Model.FromOfficeLists, "Value", "Text"), htmlAttributes: new { @id = "FromOfficeId", @placeholder = "From Office", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>To Office<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(m => m.ToOffice_Id, new SelectList(Model.ToOfficeLists, "Value", "Text"), htmlAttributes: new { @id = "ToOfficeId", @placeholder = "To Office", @class = "form-control" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Date<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.Date, htmlAttributes: new { @placeholder = "dd/mm/yyyy", @class = "form-control clsDate", @id = "Date" })
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Refrence Number<span class="mandatory">*</span></label>
                                    @Html.TextBoxFor(m => m.RefrenceNumber, htmlAttributes: new { @placeholder = "Refrence Number", @class = "form-control", @id = "RefrenceNumber" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="styled-input">
                                <div class="col-md-12 form-group">
                                    <label>Remarks</label>
                                    @Html.TextBoxFor(m => m.Remarks, htmlAttributes: new { @placeholder = "Remarks", @class = "form-control", @id = "Remarks" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <div class="styled-input">
                                    <div class="heading">
                                        <h4>
                                            Store Transfer Item
                                        </h4>
                                    </div>
                                    <br />
                                </div>
                                <div class="styled-input">
                                    <div class="col-md-4 form-group">
                                        <label>Item<span class="mandatory">*</span></label>
                                        @Html.DropDownList("ItemId", new SelectList(Model.Item_Lists, "Value", "Text"), htmlAttributes: new { @id = "ItemId", @placeholder = "Select Item", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Unit</label>
                                        @Html.DropDownList("UnitId", new SelectList(Model.UnitLists, "Value", "Text"), htmlAttributes: new { @id = "UnitId", @placeholder = "Select Unit", @class = "form-control" })

                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Avaliable Qty<span class="mandatory">*</span></label>
                                        @Html.TextBox("AvaliableQty", "", htmlAttributes: new { @placeholder = "Avaliable Qty", @id = "AvaliableQty", @class = "form-control", @disabled = "disabled" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Transfer Qty<span class="mandatory">*</span></label>
                                        @Html.TextBox("TransferQty", "", htmlAttributes: new { @placeholder = "Transfer Qty", @type = "number", @id = "TransferQty", @class = "form-control" })
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Amount</label>
                                        @Html.TextBox("TransferAmount", "", htmlAttributes: new { @placeholder = "Amount", @type = "number", @id = "TransferAmount", @class = "form-control" })
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label>Action</label>
                                        <br />
                                        <a id="btnAdd" name="btnAdd" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                        <a id="btnReset" name="btnReset" class="btn btn-primary"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="table-responsive">
                                    <table id="tblStoreTransfer" class="table table-striped" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="tbl-heading">Action</th>
                                                <th class="tbl-heading">Item</th>
                                                <th class="tbl-heading">Unit</th>
                                                <th class="tbl-heading">Avaliable Qty</th>
                                                <th class="tbl-heading">Transfer Qty</th>
                                                <th class="tbl-heading">Transfer Amt</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyid"></tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-8"></div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="button" name="btnResetForm" id="btnResetForm" class="btncustome">Reset</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
         if ('@ViewBag.Msg' != "") {
                $('#alertModal').modal('show');
                $('#msg').html("@ViewBag.Msg");
         }
        $("#FromOfficeId").select2();
        $("#ToOfficeId").select2();
        $("#ItemId").select2();
       // $("#FromOfficeId").val($("#FromOfficeId option:first").val());
        //$('#FromOfficeId').select2().trigger('change');
        //$("#ToOfficeId").val($("#ToOfficeId option:first").val());
        //$('#ToOfficeId').select2().trigger('change');
        //$("#Date").val("");
        $("#RefrenceNumber").val("");
        $("#Remarks").val("");

        $("body").on("click", "#btnReset", function (e) {
            e.preventDefault();
            $("#ItemId").val($("#Item_Id option:first").val());
            $('#ItemId').select2().trigger('change');
            $('#UnitId').val("");
            $("#AvaliableQty").val("");
            $("#TransferQty").val("");
            $("#btnAdd").val("Add");
            $("#TransferAmount").val("");
        });


       $("#btnAdd").click(function (e) {
                e.preventDefault();
                let bAdded = true;
                let msg = "";

                if ($("#ItemId").val() === "0" || $("#ItemId").val() === "") {
                    msg = "Please select item.";
                    bAdded = false;
                    $('#lertModal').modal('show');
                    $('#msg').html(msg);
                    return false;
                }
                else if ($("#UnitId").val() === "0" || $("#UnitId").val() === "") {
                    msg = "Please select unit.";
                    bAdded = false;
                    $('#alertModal').modal('show');
                    $('#msg').html(msg);
                    return false;
                }
                //else if ($("#AvaliableQty").val() === "") {
                //    msg = "There is no avaliable qty.";
                //    bAdded = false;
                //    $('#alertModal').modal('show');
                //    $('#msg').html(msg);
                //    return false;
                //}
                else if ($("#TransferQty").val() === "") {
                    msg = "Please enter transfer qty.";
                    bAdded = false;
                    $('#alertModal').modal('show');
                    $('#msg').html(msg);
                    $("#TransferQty").focus();
                    return false;
                }
                else if ($("#TransferAmount").val() === "") {
                    msg = "Please enter Amount.";
                    bAdded = false;
                    $('#alertModal').modal('show');
                    $('#msg').html(msg);
                    $("#TransferAmount").focus();
                    return false;
                }
                else if ($("#AvaliableQty").val() < $("#TransferAmount").val()) {
                    msg = "There is no avaliable qty.";
                    bAdded = false;
                    $('#alertModal').modal('show');
                    $('#msg').html(msg);
                    return false;
                }

                if (bAdded) {
                    if ($("#tblStoreTransfer TBODY TR").length > 0) {
                        $("[id^='hdnItemId_']").each(function () {
                            let index = parseInt($(this).val());
                            let currentitemId = parseInt($(`#ItemId`).val());
                            let itemId = parseInt($(`#hdnItemId_${index}`).val());
                            if (currentitemId === itemId) {
                                msg = "Dulicate item not allowed";
                                bAdded = false;
                                $('#alertModal').modal('show');
                                $('#msg').html(msg);
                                return false;
                            }
                        });
                    }
                }

                if (bAdded) {
                    let ItemId = parseInt($("#ItemId").val());
                    var tBody = $("#tblStoreTransfer > TBODY")[0];
                    //Add Row.
                    var row = tBody.insertRow(-1);
                    //Add Button cell.
                    cell = $(row.insertCell(-1));
                    let btnRemove = `<a class="btn btn-danger" onclick="Remove(this);" href="javascript:void(0)"><i class="fa fa-trash"></i></a>
                                         <input type="hidden" id="hdnItemId_${ItemId}" name="hdnItemId_${ItemId}" value="${$("#ItemId :selected").val()}" />
                                         <input type="hidden" id="hdnUnitId_${ItemId}" name="hdnUnitId_${ItemId}" value="${$("#UnitId :selected").val()}" />
                                         <input type="hidden" id="hdnAvaliableQty_${ItemId}" name="hdnAvaliableQty_${ItemId}" value="${$("#AvaliableQty").val()}" />
                                         <input type="hidden" id="hdnTransferQty_${ItemId}" name="hdnTransferQty_${ItemId}" value="${$("#TransferQty").val()}" />
                                         <input type="hidden" id="hdnTransferAmt_${ItemId}" name="hdnTransferAmt_${ItemId}" value="${$("#TransferAmount").val()}" />
                                     `;
                    cell.append(btnRemove);

                    //Add Entry Type cell.
                    var cell = $(row.insertCell(-1));
                    cell.html($("#ItemId :selected").text());

                    //Add Party cell.
                    cell = $(row.insertCell(-1));
                    cell.html($("#UnitId :selected").text());
                    //Add Office cell.
                    cell = $(row.insertCell(-1));
                    cell.html($("#AvaliableQty").val());
                    //Add Qty cell.
                    cell = $(row.insertCell(-1));
                    cell.html($("#TransferQty").val());

                    //Add Amount cell.
                    cell = $(row.insertCell(-1));
                    cell.html($("#TransferAmount").val());

                    //Set Default
                    //$("#FromOfficeId").val($("#FromOfficeId option:first").val());
                    //$('#FromOfficeId').select2().trigger('change');
                    //$("#ToOfficeId").val($("#ToOfficeId option:first").val());
                    //$('#ToOfficeId').select2().trigger('change');
                    //$("#Date").val("");
                    //$("#RefrenceNumber").val("");
                    //$("#Remarks").val("");
                    //Set Default
                    $("#ItemId").val($("#Item_Id option:first").val());
                    $('#ItemId').select2().trigger('change');
                    $('#UnitId').val("0");
                    $("#AvaliableQty").val("");
                    $("#TransferQty").val("");
                    $("#TransferAmount").val("");
                    $("#btnAdd").val("Add");

                    $("td").each(function () {
                        $(this).addClass("tbl-css");
                    });
                }

                if (bAdded) {
                    return true;
                } else {
                    $('#alertModal').modal('show');
                    $('#msg').html(msg);
                    return false;
                }
            });

      $("body").on("click", "#btnSubmit", function () {
          let StoreTransferLineValues = [];
          let isValid = true;
          let msg = "";
          if ($("#FromOfficeId").val() === "0" || $("#FromOfficeId").val() === "") {
                msg = "Please Select From Office Id.";
                isVald = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
          } else if ($("#ToOfficeId").val() === "0" || $("#ToOffice_Id").val() === "") {
                msg = "Please Select To Office Id.";
                isValid = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            } else if ($("#Date").val() === "") {
                msg = "Please select date.";
                isValid = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            } else if ($("#RefrenceNumber").val() === "") {
                msg = "Please enter refrence number.";
                isValid = false;
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }

                //Loop through the Table rows and build a JSON array.
                
                if ($("#tblStoreTransfer TBODY TR").length > 0) {
                    $("[id^='hdnItemId_']").each(function () {
                        let index = parseInt($(this).val());
                        let oMapping = {};
                        let itemId = parseInt($(`#hdnItemId_${index}`).val());
                        oMapping.ItemId = itemId;
                        oMapping.UnitId = parseInt($(`#hdnUnitId_${itemId}`).val());
                        oMapping.AvailableQty = parseFloat($(`#hdnAvaliableQty_${itemId}`).val());
                        oMapping.TransferQty = parseInt($(`#hdnTransferQty_${itemId}`).val());
                        oMapping.TransferAmount = parseInt($(`#hdnTransferAmt_${itemId}`).val());
                        StoreTransferLineValues.push(oMapping);
                    });
                    $("#StoreLine").val(JSON.stringify(StoreTransferLineValues));
                } else {
                    msg = "Please add at least 1 item.";
                    isValid = false;
            }
            if (isValid) {
                return true;
            } else {
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }

            });

            $("#ItemId").change(function () {
                let Item_Id = parseInt($("#ItemId").val());
                let FromOfficeId = parseInt($("#FromOfficeId").val());
                if (Item_Id >0) {
                    IMSC.ajaxCall("GET", "/Material/GetItem_Detail?Item_Id=" + Item_Id + "&Office_Id=" + FromOfficeId + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                        var result = JSON.parse(d);
                        if (result !== "null") {
                            $("#AvaliableQty").val(result[0].AvailableQty);
                            $('#UnitId').val(result[0].BaseUnit_Id);
                        } else {
                            $("#AvaliableQty").val(0);
                            $('#UnitId').val("");
                        }
                    });
                }
             });
    });
</script>
