@model IMS.Models.ViewModel.StoreClearance
@{
    ViewBag.Title = "Material Store Clearance";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}
@{
    var AppToken = Convert.ToString(Model.AppToken);
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-shopping-cart"></i>
                <span>Material Store Clearance</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <div class="clearfix"></div>
                        @using (Html.BeginForm("MaterialStoreClearance_InsertUpdate", "Material", FormMethod.Post, new { @id = "MaterialStoreClearance", onkeydown = "return event.keyCode!=13" }))
                        {
                            @Html.HiddenFor(m => m.SaleId, htmlAttributes: new { @id = "SaleId" })
                            @Html.HiddenFor(m => m.GatePass_Id, htmlAttributes: new { @id = "GatePass_Id" })
                            @Html.HiddenFor(m => m.AppToken)
                            @Html.HiddenFor(m => m.StoreData, htmlAttributes: new { @id = "StoreData" })


                            <br />

                            <div class="heading">
                                <h4>
                                    Sale Item
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <label>Office<span class="mandatory">*</span></label>
                                    @Html.DropDownListFor(m => m.OfficeId, new SelectList(Model.OfficeLists, "Value", "Text"), htmlAttributes: new { @id = "OfficeId", @class = "form-control" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div id="listGrid"></div>
                            <div class="clearfix"></div>
                            <div class="heading">
                                <h4>
                                    Item Search
                                </h4>
                            </div>
                            <br />
                            <div class="styled-input">
                                <div class="col-md-2 form-group">
                                    Item BarCoad :
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="text" placeholder="Bar Code ID" class="form-control" id="txtGetPass" name="txtGetPass" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="heading">
                                <h4>
                                    Store Item
                                </h4>
                            </div>
                            <br />
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table id="tblMaterialStoreData" class="table table table-striped" cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="tbl-heading">Item</th>
                                            <th class="tbl-heading">At</th>
                                            <th class="tbl-heading">Order-Qty</th>
                                            <th class="tbl-heading">Unit</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyid"></tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-11"></div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="button" name="btnResetFormbtnResetForm" id="btnResetForm" class="btncustome">Reset</button>
                                </div>
                            </div>
                            <div class="col-md-1 form-group pull-right">
                                <div class="appointment-btn text-lg-right">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btncustome">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//content-->
    <!---->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        $("body").on("click", "#btnSubmit", function () {
            let StoreLineValues = [];
            let isValid = true;
            let msg = "";
            if ($("#tbodyid [id^='trRow_']").length > 0) {
                $("#tbodyid [id^='trRow_']").each(function () {
                    let oMapping = {};
                    let itemId = parseInt($(this)[0].attributes[1].value);                    
                    oMapping.Line_Id = parseInt($(this)[0].attributes[3].value);
                    oMapping.SaleLine_Id = $(this)[0].attributes[2].value;
                    oMapping.GatePass_Office_Id = $(this)[0].attributes[5].value;
                    let GPID = parseInt($(this)[0].attributes[4].value);

                    //if (GPID > 0) {
                    //    $("#GatePass_Id").val(GPID.toString());
                    //}
                    oMapping.Item_Id = parseInt(itemId);
                    oMapping.Sale_Unit = $("#lblSaleunit_" + itemId).text();
                    oMapping.Quantity = $("#lblQuantity_" + itemId).text();
                    StoreLineValues.push(oMapping);
                    isValid = true;
                });
                $("#StoreData").val(JSON.stringify(StoreLineValues));
            } else {
                isValid = false;
                msg = "Please add at least one store data!!!";
            }
            if (isValid) {
                return true;
            } else {
                $('#alertModal').modal('show');
                $('#msg').html(msg);
                return false;
            }
        });

        function BindStoreMasterData() {
            IMSC.ajaxCall("GET", `/Material/Material_Sale_GetStoreData?SaleId=${@Model.SaleId}&AppToken=${'@Model.AppToken'}`, {}, "text", function (d) {
                var result = JSON.parse(d);
                if (result !== null) {
                    if (result.length > 0) {
                        //$("#tbodyid").empty();

                        var fields = [
                             { name: "Item_Id", css: "hidden" },
                            { name: "ItemName", type: "text", Width: 250, title: "Item Name", sorting: true, filtering: false },
                            { name: "ItemAt", type: "text",  title: "AT", sorting: true, filtering: false },
                            { name: "Order_Qty", type: "text", title: "Order Qty", sorting: true, filtering: false },
                            { name: "Available_Qty", type: "text", title: "Available Qty", sorting: true, filtering: false }

                            
                        ];
                        var options = {
                            filtering: true,
                            editing: true,
                            sorting: true,
                            paging: true,
                            autoload: true,
                            controller: {
                                GetPassData: result,
                                loadData: function (filter) {
                                    return $.grep(this.GetPassData, function (GetPassData) {
                                        return (!filter.ItemName || GetPassData.ItemName.toLowerCase().indexOf(filter.ItemName.toLowerCase()) > -1);
                                    });
                                }
                            },
                            fields: fields
                        };
                        $.extend(options, IMSC.grid_options);
                        $("#listGrid").jsGrid(options);

                        IMSC.filteOnKeyPress("#listGrid");

                        $("td").each(function () {
                            $(this).addClass("tbl-css");
                        });
                    }
                }
            });
            BindGatePassData();
        };
        function BindGatePassData() {
            IMSC.ajaxCall("GET", "/Material/Material_GatePass_GetRecord?SaleId=" + @Model.SaleId + "&AppToken=" + '@AppToken', {}, "text", function (d) {
                var res = JSON.parse(d);
                debugger;
                if (res !== null) {
                    var result = res;
                    if (result.length > 0) {
                        let bIsValid = true;
                      //Get the reference of the Table's TBODY element.
                        var tBody = $("#tblMaterialStoreData > TBODY")[0];
                        for (var i = 0; i < result.length; i++) {
                            //Add Row.
                            var row = tBody.insertRow(-1);
                            $(row).attr('id', 'trRow_' + result[0].Item_Id);
                            $(row).attr('data-index', result[0].Item_Id);
                            $(row).attr('data-SaleLine_Id', result[0].SaleLine_Id);
                            $(row).attr('data-Line_Id', result[0].Line_Id);
                            $(row).attr('data-GatePass_Id', result[0].GatePass_Id);
                            $(row).attr('data-SaleOffice_Id', result[0].OfficeID);
                            //Add Item cell.
                            let lblItem = `<label id="lblItem_${result[0].Item_Id}" data-Item="${result[0].Item_Id}">${result[0].Title}</label> `;
                            cell = $(row.insertCell(-1));
                            cell.append(lblItem);
                          //Add Item Location cell.
                            let lblItemAt = `<label id="lblItemAt_${result[0].Item_Id}">${result[0].ItemAt}</label>`;
                            cell = $(row.insertCell(-1));
                            cell.append(lblItemAt);
                            //Add Quantity.
                            let lblQuantity = `<label id="lblQuantity_${result[0].Item_Id}">${result[0].Quantity}</label>`;
                            cell = $(row.insertCell(-1));
                            cell.append(lblQuantity);
                            //Add Unit cell.
                            let lblSaleunit = `<label id="lblSaleunit_${result[0].Item_Id}">${result[0].Saleunit}</label>`;
                            cell = $(row.insertCell(-1));
                            cell.append(lblSaleunit);
                            //} else {
                            //    //$('#alertModal').modal('show');
                            //    //$('#msg').html("Item is already mapped!!!");
                            //}
                        }
                        $("td").each(function () {
                            $(this).addClass("tbl-css");
                        });
                    }
                    else {
                        //$('#alertModal').modal('show');
                        //$('#msg').html("Item not available!!!");
                    }
                }
            });
            IMSC.waitToggle();
        };

        BindStoreMasterData();
        
        $('#txtGetPass').keyup(function (event) {
            if (event.which == 13) {
                let item = $("#txtGetPass").val();
                let GPOfficeID = $("#OfficeId").val();
                if (item !== "") {
                    IMSC.ajaxCall("GET", "/Material/Material_Sale_Item_ForBarcodegun?SaleId=" + @Model.SaleId + "&ItemId=" + item.toString() + "&officeID=" + GPOfficeID + "&AppToken=" + '@AppToken', {}, "text", function (d) {
                        $("#txtGetPass").val("");
                        var res = JSON.parse(d);
                        if (res !== null) {
                            var result = res;
                            if (result.length > 0) {
                                let bIsValid = true;
                                $("#tbodyid [id^='trRow_']").each(function () {
                                    let itemId = parseInt($(this)[0].attributes[1].value);
                                    let OfficeId = parseInt($(this)[0].attributes[5].value);
                                    if ((parseInt(itemId) === parseInt(result[0].Item_Id)) && (parseInt(OfficeId) === parseInt(result[0].OfficeID))) {
                                        bIsValid = false;
                                    }
                                });
                                if (bIsValid) {
                                    //Get the reference of the Table's TBODY element.
                                    var tBody = $("#tblMaterialStoreData > TBODY")[0];
                                    //Add Row.
                                    var row = tBody.insertRow(-1);
                                    $(row).attr('id', 'trRow_' + result[0].Item_Id);
                                    $(row).attr('data-index', result[0].Item_Id);
                                    $(row).attr('data-SaleLine_Id', result[0].SaleLine_Id);
                                    $(row).attr('data-Line_Id', result[0].Line_Id);
                                    $(row).attr('data-GatePass_Id', result[0].GatePass_Id);
                                    $(row).attr('data-SaleOffice_Id', result[0].OfficeID);
                                    //Add Item cell.
                                    let lblItem = `<label id="lblItem_${result[0].Item_Id}" data-Item="${result[0].Item_Id}">${result[0].Title}</label> `;
                                    cell = $(row.insertCell(-1));
                                    cell.append(lblItem);
                                    //Add Item Location cell.
                                    let lblItemAt = `<label id="lblItemAt_${result[0].Item_Id}">${result[0].ItemAt}</label>`;
                                    cell = $(row.insertCell(-1));
                                    cell.append(lblItemAt);
                                    //Add Quantity.
                                    let lblQuantity = `<label id="lblQuantity_${result[0].Item_Id}">${result[0].Quantity}</label>`;
                                    cell = $(row.insertCell(-1));
                                    cell.append(lblQuantity);
                                    //Add Item Location cell.
                                    let lblSaleunit = `<label id="lblSaleunit_${result[0].Item_Id}">${result[0].Saleunit}</label>`;
                                    cell = $(row.insertCell(-1));
                                    cell.append(lblSaleunit);
                                } else {
                                    $('#alertModal').modal('show');
                                    $('#msg').html("Item is already mapped!!!");
                                }

                                $("td").each(function () {
                                    $(this).addClass("tbl-css");
                                });
                            } else {
                                $('#alertModal').modal('show');
                                $('#msg').html("Item not available!!!");
                            }
                        }
                    });
                }
            }
        });

        $("#btnResetForm").click(function (e) {
            e.preventDefault();
            $("#txtGetPass").val("");
            BindStoreMasterData();
        });
    });
</script>