@model IMS.Models.ViewModel.LedgerReport
@{
    ViewBag.Title = "Report InterFace";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}
@{
    var AppToken = Convert.ToString(@Model.AppToken);
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Report Interface</span>
            </h2>
        </div>
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "LedgerReport" }))
                    {
                        @Html.HiddenFor(m => m.AppToken)

                        <div class="styled-input">
                            <div class="col-md-3 form-group">
                                <label>Group</label>
                                @Html.DropDownList("ddlGroup", new SelectList(Model.LedgerGroupLists, "Value", "Text"), htmlAttributes: new { @id = "ddlGroup", @class = "form-control" })

                            </div>
                        </div>
                        <div class="styled-input">
                            <div class="col-md-3 form-group">
                                <label>Ledger</label>
                                <select id="drpLedger" name="drpLedger" class="form-control"></select>

                            </div>
                        </div>

                        <div class="styled-input">
                            <div class="col-md-2 form-group">
                                <label>From Date</label>
                                @Html.TextBoxFor(m => m.FromDate, htmlAttributes: new { @placeholder = "dd/mm/yyyy", @required = "required", @class = "form-control clsDate" })
                            </div>
                        </div>
                        <div class="styled-input">
                            <div class="col-md-2 form-group">
                                <label>To Date</label>
                                @Html.TextBoxFor(m => m.ToDate, htmlAttributes: new { @placeholder = "dd/mm/yyyy", @required = "required", @class = "form-control clsDate" })
                            </div>
                        </div>
                        <div class="col-md-2 form-group pull-right">
                            <div class="appointment-btn text-lg-right">
                                <br />
                                <button type="button" name="btnSearch" id="btnSearch" class="btncustome">Search</button>
                            </div>
                        </div>
                    }
                    <div id="Ifream">
                        <iframe id="LedgerReportView" src="~/Reports/ReportViewer.aspx?ReportId=0" width="900" height="500">
                        </iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#drpLedger").select2();
        $("#ddlGroup").select2();
        
        if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        });

    $('#FromDate, #ToDate').datepicker({
        autoclose: true,
        format: "dd/mm/yyyy",
        immediateUpdates: true,
        todayBtn: true,
        todayHighlight: true
    }).datepicker();

    $("#btnSearch").click(function (e) {
        var isValid = true;
        if (parseInt($("#ddlGroup").val()) === 0) {
            isValid = false;
            msg = "Please select Group!!!";
            $('#alertModal').modal('show');
            $('#msg').html(msg);
            return false;
        }
        else if ($('#FromDate').val() == "") {
            isValid = false;
            msg = "Please select From Date!!!";
            $('#alertModal').modal('show');
            $('#msg').html(msg);
            return false;
        }
        else if ($('#ToDate').val() == "") {
            isValid = false;
            msg = "Please select To Date!!!";
            $('#alertModal').modal('show');
            $('#msg').html(msg);
            return false;
        }
        if (isValid) {
            searchData();
        }
        
    });

    $("#ddlGroup").change(function () {
        
        let Group_Id = parseInt($('#ddlGroup').val());
        //$('#PartyId').val(Party_Id);
        IMSC.ajaxCall("GET", "/Report/GetLedger?Group_Id=" + Group_Id + "&AppToken=" + '@Model.AppToken', {}, "text", function (d) {
            var result = JSON.parse(d);
            $("#drpLedger").empty();
            $("#drpLedger").append($("<option></option>").val("0").html("Select Ledger"));
            if (result.length > 0) {
                $.each(result, function (index, value) {
                    $("#drpLedger").append($("<option></option>").val(value.Ledger_Id).html(value.Ledger));
                });
            }
        });
    }).change();


    function searchData() {


        let ReportID = parseInt(4);
        let GroupId = $("#ddlGroup").val();
        var fromDate = $('#FromDate').val();
        var toDate = $('#ToDate').val();
        var Ledger_Ids = ($('#drpLedger').val() == "" ? "0" : $('#drpLedger').val());
        let frame_src = document.getElementById('LedgerReportView').src;
        const OperationatSRC = frame_src.split("?");
        var Reportquerystring = "GroupId:"+GroupId.toString()+",Ledger_Ids:" + Ledger_Ids.toString() + ",FromDate:" + fromDate.toString() + ",todate:" + toDate.toString();
        var Href = OperationatSRC[0] + "?ReportId=" + ReportID.toString() + "&Reportquerystring=" + Reportquerystring.toString();
        $("#LedgerReportView").attr("src", Href);
    }

</script>
