@model IMS.Models.ViewModel.ReportInterFace
@{
    ViewBag.Title = "Report InterFace";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}
@{
    var AppToken = Convert.ToString(@Model.AppToken);
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Report Interface</span>
            </h2>
        </div>
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "ReportInterface" }))
                    {
                        @Html.HiddenFor(m => m.AppToken)
                        <div class="styled-input">
                            <div class="col-md-3 form-group">
                                <label>Report Name</label>
                                @Html.DropDownList("ddlReportName", new SelectList(Model.Report_Lists, "Value", "Text"), htmlAttributes: new { @id = "ddlReportName", @class = "form-control" })
                            </div>
                        </div>
                        <div class="styled-input">
                            <div class="col-md-2 form-group">
                                <label>From Date</label>
                                @Html.TextBoxFor(m => m.FromDate, htmlAttributes: new { @placeholder = "dd/mm/yyyy", @required = "required", @class = "form-control clsDate" })
                            </div>
                        </div>
                        <div class="styled-input">
                            <div class="col-md-2 form-group">
                                <label>To Date</label>
                                @Html.TextBoxFor(m => m.ToDate, htmlAttributes: new { @placeholder = "dd/mm/yyyy", @required = "required", @class = "form-control clsDate" })
                            </div>
                        </div>
                        <div class="styled-input">
                            <div class="col-md-3 form-group">
                                <label>Office</label>
                                @Html.DropDownListFor(m => m.OfficeId, new SelectList(Model.OfficeLists, "Value", "Text"), htmlAttributes: new { @id = "ddlOffice", @placeholder = "From Office", @class = "form-control" })
                              
                            </div>
                        </div>
                        <div class="styled-input">
                            <div class="col-md-3 form-group">
                                <label>Party</label>
                                @Html.DropDownList("ddlParty", new SelectList(Model.PartyLists, "Value", "Text"), htmlAttributes: new { @id = "ddlParty", @class = "form-control" })

                            </div>
                        </div>
                        <div class="styled-input">
                            <div class="col-md-3 form-group">
                                <label>Item</label>
                                @Html.DropDownList("ddlItem", new SelectList(Model.Item_Lists, "Value", "Text"), htmlAttributes: new { @id = "ddlItem", @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-md-2 form-group pull-right">
                            <div class="appointment-btn text-lg-right">
                                <br />
                                <button type="button" name="btnSearch" id="btnSearch" class="btncustome">Search</button>
                            </div>
                        </div>
                    }
                    <div id="Ifream">
                        <iframe id="ReportInterfaceView" src="~/Reports/ReportViewer.aspx?ReportId=0" width="900" height="500">
                        </iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlItem").select2();
        if ('@ViewBag.Msg' != "") {
            $('#alertModal').modal('show');
            $('#msg').html("@ViewBag.Msg");
        }
        $("#ddlItem").select2();
        searchData();
        });

    $('#FromDate, #ToDate').datepicker({
        autoclose: true,
        format: "dd/mm/yyyy",
        immediateUpdates: true,
        todayBtn: true,
        todayHighlight: true
    }).datepicker();

    $("#btnSearch").click(function (e) {
        searchData();
    });

    function searchData() {
        let ReportID = parseInt($('#ddlReportName').val());
        
        if (ReportID > 0) {
            IMSC.ajaxCall("GET", "/Report/GetReportConfigData?ReportId=" + ReportID, {}, "text", function (d) {
                var result = JSON.parse(d);
                if (result !== "null" && result !== "") {
                    const Par = result[0].Params.split(",");
                    var Reportquerystring= "";
                    let _ReportID = parseInt($('#ddlReportName').val());
                    for (var Counter = 0; Counter < Par.length  ;Counter++)
                    {
                        var V = Par[Counter].toString();
                        switch (V) {
                            case "ItemID":
                                if (Reportquerystring == "") {
                                    Reportquerystring = Reportquerystring + V + ":" + $('#ddlItem').val().toString();
                                }
                                else {
                                    Reportquerystring = Reportquerystring + "," + V + ":" + $('#ddlItem').val().toString();
                                }
                                break;
                            case "FromDate":
                                if (Reportquerystring == "") {
                                    Reportquerystring = Reportquerystring + V + ":" + $('#FromDate').val();
                                }
                                else {
                                    Reportquerystring = Reportquerystring + "," + V + ":" + $('#FromDate').val();
                                }
                                break;
                            case "ToDate":
                            case "todate":
                                if (Reportquerystring == "") {
                                    Reportquerystring = Reportquerystring + V + ":" + $('#ToDate').val();
                                }
                                else {
                                    Reportquerystring = Reportquerystring + "," + V + ":" + $('#ToDate').val();
                                }
                                break;
                            case "PartyID":
                                if (Reportquerystring == "") {
                                    Reportquerystring = Reportquerystring + V + ":" + $('#ddlParty').val();

                                }
                                else {
                                    Reportquerystring = Reportquerystring + "," + V + ":" + $('#ddlParty').val();
                                }
                                break;
                            case "OfficeID":
                                if (Reportquerystring == "") {
                                    Reportquerystring = Reportquerystring + V + ":" + $('#ddlOffice').val();
                                }
                                else {
                                    Reportquerystring = Reportquerystring + "," +V + ":" + $('#ddlOffice').val();
                                }
                                break;
                            case "GroupId":
                                if (Reportquerystring == "") {
                                    Reportquerystring = Reportquerystring + V + ":" + "";//$('#ToDate').val();
                                }
                                else {
                                    Reportquerystring = Reportquerystring + ","+  V + ":" + "";
                                }
                                break;
                            case "Ledger_Ids":
                                if (Reportquerystring == "") {
                                    Reportquerystring = Reportquerystring + V + ":" + "";//$('#ToDate').val();
                                }
                                else {
                                    Reportquerystring = Reportquerystring + "," +  V + ":" + "";
                                }
                                break;
                            default:
                                break;
                        }
                    }
                    let frame_src = document.getElementById('ReportInterfaceView').src;
                    const OperationatSRC = frame_src.split("?");
                    var Href = OperationatSRC[0] + "?ReportId=" + _ReportID.toString() + "&Reportquerystring=" + Reportquerystring.toString();
                    $("#ReportInterfaceView").attr("src", Href);
                }
                
            });
            
        }
    };

</script>
